extend ../../layout

block header
   h1(data-menu-root="games") Submitted
   a(data-icon="back", data-rel="back", data-theme="b", data-transition="slidedown") Back
   
block content

   .title Your photo has been uploaded!
   .sub-title Tap below to upload more photos or view the photo feed.

   .upload-more-button(data-bind="showClick: true, click: uploadMore")
   .view-all-button(data-bind="showClick: true, click: viewAll")

   .photo-share-options
      p Share this photo:
      .photo-share-option.twitter(data-bind="click: shareViaTwitter, css:{'ui-btn-active':shared_twitter}")
      .photo-share-option.facebook(data-bind="click: shareViaFacebook, css:{'ui-btn-active':shared_facebook}")
      .photo-share-option.sms(data-bind="click: shareViaSMS, css:{'ui-btn-active':shared_sms}")
   