extend photoBase

block title
   .title Gameday Pics
   .sub-title Snap a pic of your Gameday festivities 

block tutorial
   .tutorial-slider.one
      .tutorial-item
         .tutorial-content
            .tutorial-close
            .tutorial-done
            .tutorial-title Gameday Pics
            .line-separator
            p Enter the Gameday Pic competition by submitting a picture of your gameday festivities.
            p Make sure to cheer and boo other pictures too so the best of the week rises to the top!