extend photoBase

block title
   .title Picture with a Player
   .sub-title Snag a picture with an athlete

block tutorial
   .tutorial-slider.one
      .tutorial-item
         .tutorial-content
            .tutorial-close
            .tutorial-done
            .tutorial-title Picture with a Player
            .line-separator
            p Enter the competition by submitting an awesome picture of you and a player. 
            p Make sure to cheer and boo other pictures too so the best of the week rises to the top!