extend photoBase

block title
   .title Spirit Wear
   .sub-title Show off your gear as you rep your team

block tutorial
   .tutorial-slider.one
      .tutorial-item
         .tutorial-content
            .tutorial-close
            .tutorial-done
            .tutorial-title Spirit Wear
            .line-separator
            p Enter the Spirit Wear competition by submitting a picture of your in your best team gear. 
            p Make sure to cheer and boo other pictures too so the best of the week rises to the top!