@import "../lib/mixins"
@import "../lib/variables"

#connect-page
   .content
      padding-bottom:0
      // position: relative
   .icon-wrap
      width: 320px
      margin: 0 auto
   .roster-icon-wrap
   .huddle-icon-wrap
   .highlights-icon-wrap
      position: relative
      width: 140px
      display: block
      float: left
      text-decoration: none
      border-radius: 21px
      padding: 5px
      text-shadow: 0 1px 3px #000
      &.ui-btn-active
         border: 0
         background: transparent
         .active-cover
            display:block
         .label
            color: #999
         // position: relative
         // dropshadow: inset 1px 2px 6px #000, inset -1px 2px 6px #000, 0 1px 1px rgba(200,200,200,.5)
         // top: 2px
         // border: 0
   .active-cover
      display: none
      width: 126px
      height: 126px
      position: absolute
      background: #000
      opacity: .4
      border-radius: 20px
      margin-left: -63px
      left: 50%
      top: 9px
   .roster-icon-wrap
      margin-left: 10px 
   .highlights-icon-wrap
      margin-left: 10px 
   .clear-sep
      clear: both
      height: 1px
      width: 100%


   // .roster-icon-wrap
   //    margin: -6px auto 0
   // .huddle-icon-wrap
   //    margin: 0px auto 0
   .label   
      display:block
      text-align:center
      font-size: 24px
      font-weight: bold
      color: #fff
      margin-top: -4px


.icon-connect
   background-image: url(../images/icons/icons-connect.png)
   background-size: 430px 140px
   width: 140px
   height: 140px
   display:block
   &.roster
      background-position: 0 0
   &.huddle
      background-position: -145px 0
   &.highlights
      background-position: -290px 0

#connect-roster-page
   .my-roster-title
      color: #777
      text-align: center
      text-shadow: 0 1px 2px #fff
      font-size: 1.6em
      padding: 7px 0 15px
   
@media only screen and (-webkit-min-device-pixel-ratio: 1.5)
   // .gray-connect-icon
   //    background-image: url(../images/connect/Icon_ConnectGrayed@2x.png)!important

   .icon-connect
      background-image: url(../images/icons/icons-connect@2x.png) !important