@import "../lib/mixins"
@import "../lib/variables"

// #connect-page
//    .pattern-bg
//       a
//          padding: .3em 15px
//       .inner
//          display: table
//          height: 48px
//       .label
//          display: table-cell
//          vertical-align: middle
//          text-align: left
//          text-transform: uppercase
//          white-space: normal
//          font-size: 1.3em

#connect-page
   .roster-icon-wrap
   .huddle-icon-wrap
      width: 140px
      display:block
      text-decoration: none
   .roster-icon-wrap
      margin: 40px auto 0
   .huddle-icon-wrap
      margin: 20px auto 0
   .label   
      display:block
      text-align:center
      font-size: 24px
      font-weight: bold
      color: #fff

.icon-connect
   background-image: url(../images/icons/icons-connect.png)
   background-size: 285px 140px
   width: 140px
   height: 140px
   display:block
   &.roster
      background-position: 0 0
   &.huddle
      background-position: -145px 0

#connect-roster-page
   .my-roster-title
      color: #777
      text-align: center
      text-shadow: 0 1px 2px #fff
      font-size: 1.6em
      padding: 7px 0 15px
   
@media only screen and (-webkit-min-device-pixel-ratio: 1.5)
   // .gray-connect-icon
   //    background-image: url(../images/connect/Icon_ConnectGrayed@2x.png)!important

   .connect-icon
      background-image: url(../images/icons/icons-connect@2x.png) !important