@import "../lib/mixins"
@import "../lib/variables"

#connect-page
   // .content
   //    position: relative
   // .icon-wrap
   //    position:absolute
   //    height: 338px
   //    top: 50%
   //    width: 140px
   //    left: 50%
   //    margin: -169px 0 0 -70px
   .roster-icon-wrap
   .huddle-icon-wrap
      width: 140px
      display:block
      text-decoration: none
   .roster-icon-wrap
      margin: 4px auto 0
   .huddle-icon-wrap
      margin: 6px auto 0
   .label   
      display:block
      text-align:center
      font-size: 24px
      font-weight: bold
      color: #fff
      margin-top: -4px


.icon-connect
   background-image: url(../images/icons/icons-connect.png)
   background-size: 285px 140px
   width: 140px
   height: 140px
   display:block
   &.roster
      background-position: 0 0
   &.huddle
      background-position: -145px 0

#connect-roster-page
   .my-roster-title
      color: #777
      text-align: center
      text-shadow: 0 1px 2px #fff
      font-size: 1.6em
      padding: 7px 0 15px
   
@media only screen and (-webkit-min-device-pixel-ratio: 1.5)
   // .gray-connect-icon
   //    background-image: url(../images/connect/Icon_ConnectGrayed@2x.png)!important

   .icon-connect
      background-image: url(../images/icons/icons-connect@2x.png) !important