@import "../lib/mixins"
@import "../lib/variables"

#games-page
   background: url(../images/Pattern_FabricKnit.png)
   background-size: 4px 4px
   .icon-gamecell
      float: left
   .text
      position: relative
      margin-left: 82px
      height: 1px
   .inner
      display: table
      position: absolute
      top: 0px
      left: 0px
      height: 72px
   .game-name
      display: table-cell
      vertical-align: middle
      text-align: left
      text-transform: uppercase
      white-space: normal
      font-size: 1.3em

#games-guessTheScore-page
#games-gameFace-page
   .team-info
      width: 304px
      margin: 4px auto 0
      .team-glass
         float: left
      .vs
         float: left
         width: 36px 
         height: 36px
         margin-top: 2px
         background: url(../images/games/Overlay_VsButton.png) no-repeat 50% 0%
         background-size: 36px 36px

@media only screen and (-webkit-min-device-pixel-ratio: 1.5)
   #games-page
      background-image: url(../images/Pattern_FabricKnit@2x.png)
   #games-attendanceStreak-page
   #games-guessTheScore-page
   #games-gameFace-page
      .vs
         background-image: url(../images/games/Overlay_VsButton@2x.png)
