@import "../lib/mixins"
@import "../lib/variables"

#games-page
   .icon-gamecell
      float: left
   .text
      position: relative
      margin-left: 82px
      height: 1px
   .inner
      display: table
      position: absolute
      top: 0px
      left: 0px
      height: 72px
   .game-name
      display: table-cell
      vertical-align: middle
      text-align: left
      text-transform: uppercase
      white-space: normal
      font-size: 1.3em

   li.locked 
      .ui-btn-inner.ui-li
         background: rgba(0,0,0,.15)!important
      .ui-icon-arrow-r
         display:none

.icon-gamecell
   width: 72px
   height: 72px
   background: url(../images/icons/icons-gamecell.png) no-repeat
   background-size: 611px 72px
         
   &.attendence-streak
      background-position: 0 0
   &.game-face
      background-position: -77px 0
   &.guess-the-score
      background-position: -154px 0
   &.locked
      background-position: -231px 0
   &.gameday-pics
      background-position: -308px 0
   &.photo-challenge
      background-position: -385px 0
   &.picture-with-player
      background-position: -462px 0
   &.spirit-wear
      background-position: -539px 0
#games-guessTheScore-page
#games-gameFace-page
   .team-info
      width: 316px
      margin: 25px auto 0
      
      .team-glass
         float: left
         font-size: .8em
         background: url(../images/games/SmallTeamGlass_Larger.png)
         background-size: 140px 51px
         width: 140px
         height: 51px
         text-align: center
         display: table
         position: relative
         .inner
            display: table-cell
            height: 100%
            padding: 0 12px
            vertical-align: middle
            white-space: normal
         .team
            margin-bottom: 2px
            font-size: .9em
         .record
            color: color-light-gray
            font-size: .8em
         .label
            position: absolute
            top: -20px
            left: 0
            width: 100%
            text-align: center
            font-size: 1.4em
            color: color-light-gray
      .vs
         float: left
         width: 36px 
         height: 36px
         margin-top: 6px
         background: url(../images/games/Overlay_VsButton.png) no-repeat 50% 50%
         background-size: 36px 36px

   .next-game
      background: url(../images/games/BigTeamGlass.png) 50% 50% no-repeat
      background-size: 301px 104px
      margin: 10px auto 0
      width: 301px
      height: 104px
      text-shadow: 0 2px 2px #000

      .stadium
         text-align: center
         font-size: 1.1em
         padding-top: 8px

      .game-time
         color: #c0c0c0
         font-size: .7em
         text-align: center
         padding-top: 2px

      .game-info
         padding-top: 8px
         position: relative

      .team-info
         position: absolute
         display: table
         width: 38%
         height: 50px
         margin-top: -9px
         text-align: center
         font-size: .9em
         width: 114px
         white-space: normal
         top: 10px
         &.home
            left: 15px
         &.away
            right: 15px
      .team
            margin-bottom: 2px
            font-size: .9em
            white-space: normal
            max-width: 100%
      .inner
         display: table-cell
         height: 100%
         width: 100%
         vertical-align: middle
         white-space: normal

      // .android & .inner
      //    display: table-cell
      //    margin-top: 16px
      //    height: 34px

   .no-game-scheduled
      background: url(../images/games/BigTeamGlass.png) 50% 50% no-repeat
      background-size: 301px 104px
      display: table
      margin: 10px auto 0
      width: 301px
      height: 104px

      .inner
         display: table-cell
         vertical-align: middle
         height: 100%
         width: 100%
         white-space: normal
         padding: 5px 22px
         text-align: center
         text-shadow: 0 2px 2px #000

         .title
            font-size: 1.6em
            display: line-height
            margin-bottom: 3px
         .sub
            color: #888
            font-size: .8em


.vs-center
   position: absolute
   left: 50%
   margin-left: -18px
   width: 36px 
   height: 36px
   background: url(../images/games/Overlay_VsButton.png) no-repeat 50% 0%
   background-size: 36px 36px

.in-progress
   width: 280px
   margin: 5px auto 15px
   text-align: center
   font-size: .8em
   color: #bbb

@media only screen and (-webkit-min-device-pixel-ratio: 1.5)
   #games-attendanceStreak-page
   #games-guessTheScore-page
   #games-gameFace-page
      .vs
      .vs-center
         background-image: url(../images/games/Overlay_VsButton@2x.png)!important
   .icon-gamecell
      background-image: url(../images/icons/icons-gamecell@2x.png)!important
   .team-glass
      background-image: url(../images/games/SmallTeamGlass_Larger@2x.png)!important
   
