@import "../lib/mixins"
@import "../lib/variables"

#games-page
   .icon-gamecell
      float: left
   .text
      position: relative
      margin-left: 82px
      height: 1px
   .inner
      display: table
      position: absolute
      top: 0px
      left: 0px
      height: 72px
   .game-name
      display: table-cell
      vertical-align: middle
      text-align: left
      text-transform: uppercase
      white-space: normal
      font-size: 1.3em

   li.locked 
      .ui-btn-inner.ui-li
         background: rgba(0,0,0,.15)!important
      .ui-icon-arrow-r
         display:none

.icon-gamecell
   width: 72px
   height: 72px
   background: url(../images/icons/icons-gamecell.png) no-repeat
   background-size: 303px 72px
         
   &.attendence-streak
      background-position: 0 0
   &.game-face
      background-position: -77px 0
   &.guess-the-score
      background-position: -154px 0
   &.locked
      background-position: -231px 0

#games-guessTheScore-page
#games-gameFace-page
   .team-info
      width: 304px
      margin: 4px auto 0
      .team-glass
         float: left
      .vs
         float: left
         width: 36px 
         height: 36px
         margin-top: 2px
         background: url(../images/games/Overlay_VsButton.png) no-repeat 50% 0%
         background-size: 36px 36px

@media only screen and (-webkit-min-device-pixel-ratio: 1.5)
   #games-attendanceStreak-page
   #games-guessTheScore-page
   #games-gameFace-page
      .vs
         background-image: url(../images/games/Overlay_VsButton@2x.png)!important
   .icon-gamecell
      background-image: url(../images/icons/icons-gamecell@2x.png)!important
