@import "../lib/variables"
@import "../lib/mixins"

.no-data
   margin-top: 40px
   text-align: center
   font-size: 1.9em
   color: #2f3e46
   display: none

.chart-full
   margin: 20px auto 0
   width: 300px
   height: 340px

#leaderboard-breakdown-page
#leaderboard-breakdownOther-page
   .team-name
      margin: 20px 10px 30px
      font-size: 2.1em
      text-align: center
      text-shadow: 0 2px 0 #fff
      color: #888

   .graph-wrapper
      background: url(../images/leaderboard/TeamDNA_graphBox.png) 50% 0% no-repeat
      background-size: 228px 201px
      width: 300px
      height: 235px
      margin: 0 auto

      .breakdown
         width: 180px
         height: 188px
         margin: 0 auto 
         padding-top: 12px

   .graph-base
      position: relative
      margin: -32px auto 0
      width: 280px
      font-size: .6em
      color: #777
      text-shadow: 0 2px 0 #fff

      .highlight
         position: absolute
         background: url(../images/leaderboard/TeamDNA_FrontShadow.png)
         background-size: 328px 49px
         width: 328px
         height: 49px
         left: 50%
         margin-left: -164px
         top: -17px

      .passion
         position: absolute
         left: 50px
      .dedication
         position: absolute
         left: 119px
      .knowledge
         position: absolute
         left: 190px

@media only screen and (-webkit-min-device-pixel-ratio: 1.5)
   #leaderboard-breakdown-page
   #leaderboard-breakdownOther-page
      .graph-wrapper
         background-image: url(../images/leaderboard/TeamDNA_graphBox@2x.png)!important
      .highlight
         background-image: url(../images/leaderboard/TeamDNA_FrontShadow@2x.png)!important