@import "../lib/variables"
@import "../lib/mixins"

#leaderboard-page
   background: url(../images/Pattern_FabricKnit.png)
   background-size: 4px 4px
   .switcher
      text-align: center
      dropshadow: 0 2px 3px rgba(0,0,0,.5)
      width: 100%

@media only screen and (-webkit-min-device-pixel-ratio: 1.5)
   #leaderboard-page
      background-image: url(../images/Pattern_FabricKnit@2x.png)