#index-page
   
   .logo
      background: url(../images/Fannect-Icon80.png) no-repeat
      background-size: 80px 80px
      height: 80px
      width: 80px
      margin: 10px auto

   .or-separator
      background: url(../images/LoginDivider.png) 50% 50% no-repeat
      background-size: 290px 13px
      height: 50px
      width: 290px
      margin-left: -10px

#resetPassword-page
   .input-container
      margin-top: 30px

@media only screen and (-webkit-min-device-pixel-ratio: 1.5)
   #index-page
      .logo
         background-image: url(../images/Fannect-Icon80@2x.png)!important
      .or-separator
         background-image: url(../images/LoginDivider@2x.png)!important