@import "../lib/mixins"
@import "../lib/variables"

#profile-page
#connect-addToRosterProfile-page
#profile-invitationProfile-page
#leaderboard-rosterProfile-page
   .profile-images
      position: relative
      height: 250px
      width: 320px
      margin: 0 auto
      .team-wrap
         position: absolute
         right: 0
         top: 0
         width: 210px
         height: 210px
         cursor: pointer
         .cover
            position: absolute
            top: 0
            left: 0
            z-index: 200
            width: 210px
            height: 210px
            // background: url(../images/profile/Overlay_TeamPictureFrame.png) 
            // background-size:162px 162px
         img
            position: absolute
            top: 7px
            left: 4px
            width: 190px
            height: 190px
            border-radius: 10px
            z-index: 10
      .user-wrap
         z-index: 300
         position: absolute
         bottom: 0
         left: 0
         width: 162px
         height: 162px
         cursor: pointer
         .cover
            position: absolute
            z-index: 400
            width: 162px
            height: 162px
            background: url(../images/profile/Overlay_ProfilePictureFrame.png) 
            background-size:162px 162px
         img
            position: absolute
            top: 7px
            left: 11px
            width: 140px
            height: 140px
            border-radius: 10px
            z-index: 10
      .team-hint
         position: absolute
         width: 194px
         height: 186px
         top: 10px
         left: 0px
         background: url(../images/profile/Profile_tapToAddTeamPhoto.png)
         background-size: 194px 186px
      .user-hint
         position: absolute
         width: 136px
         height: 136px
         top: 9px
         left: 13px
         background: url(../images/profile/Profile_tapToAddProfilePhoto.png)
         background-size: 136px 136px
   .name
      font-size: 1.8em
      font-weight: bold
      text-align: center
   .team-name-wrap
      position: relative
      width: 302px 
      height: 66px
      margin: 8px auto
      background: url(../images/profile/Profile_GlassMarquee.png) 
      background-size:302px 66px
      text-transform: uppercase
      cursor: pointer
      .team
         display: block
         width: 222px
         height: 55px
         color: color-light-gray
         text-align: center
         line-height: 55px
         white-space: nowrap
         overflow: hidden
         padding: 5px 40px 0
         text-overflow: ellipsis
      .icon
         position: absolute
         top: 24px
         right: 18px
         width: 13px
         height: 15px
         background: url(../images/profile/Profile_TeamArrows.png) no-repeat
         background-size: 31px 15px 

   .score-wrap
      position: relative
      width: 302px
      height: 36px
      margin: 8px auto
      background: url(../images/profile/Profile_ScoreDisplay-iPhone.png) 
      background-size:302px 36px
      .score
         position: absolute
         top: 11px
         width: 78px
         font-size: .7em
         font-family: JerseyM54, Helvetica, Arial, sans-serif
         .label
            text-transform: uppercase
            float: left
         .value
            float: right
         &.roster
            left: 20px
         &.points
            left: 113px
         &.rank
            left: 206px
   .separator
      width: 320px
      height: 32px
      background: url(../images/profile/ProfileSeperators.png) no-repeat
      background-size: 965px 26px
      margin: 20px auto 5px auto
   .text
      width: 290px
      margin: 0 auto
      font-size: .8em
      line-height: 1.4em
   .bio
      .separator
         background-position: 0 0 
   .game-day-spot
      .separator
         background-position: -322.5px 0 
   .bragging-rights
      .separator
         background-position: -645px 0 

#profile-page
   .tutorial-welcome
      height: 39px
      background: url(../images/tutorial/Tutorial_welcomeBanner.png) 50% 0 no-repeat
      background-size: 187px 39px
   .tutorial-fannect-logo
      height: 57px
      background: url(../images/tutorial/Tutorial_fannectLogo.png) 50% 0 no-repeat
      background-size: 263px 57px
      margin-top: 8px
   .tutorial-separator
      height: 16px
      background: url(../images/tutorial/Tutorial_dividerLine.png) 50% 50% no-repeat
      background-size: 143px 8px
   .tutorial
      .left
         text-align: left
   .tutorial-profile-sketch
      height: 176px
      background: url(../images/tutorial/Tutorial_tapToAdd.png) 50% 50% no-repeat
      background-size: 229px 176px
   .tutorial-score-sketch
      height: 24px
      background: url(../images/tutorial/Tutorial_scoreBar.png) 50% 50% no-repeat
      background-size: 221px 24px
      margin-bottom: 4px
   .tutorial-headers
      height: 95px
      background: url(../images/tutorial/Tutorial_headers.png) 50% 50% no-repeat
      background-size: 220px 95px
      margin: 2px 0 8px 

#profile-editBio-page
#profile-editGameDaySpot-page
#profile-editBraggingRights-page
   .image-title
      width: 320px
      height: 32px
      background: url(../images/profile/ProfileSeperators.png) no-repeat
      background-size: 965px 26px
      margin: 0 auto 5px auto
      .game-day-spot
         background-position: -322.5px 0 
      .bragging-rights
         background-position: -645px 0 
   .text-edit
      width: 100%
      height: 180px

@media only screen and (-webkit-min-device-pixel-ratio: 1.5)
   #profile-page
   #connect-profile-page
      .team-wrap .cover
         background-image: url(../images/profile/Overlay_TeamPictureFrame@2x.png)!important
      .user-wrap .cover
          background-image: url(../images/profile/Overlay_ProfilePictureFrame@2x.png)!important
      .user-hint
         background-image: url(../images/profile/Profile_tapToAddProfilePhoto@2x.png)!important
      .team-hint
         background-image: url(../images/profile/Profile_tapToAddTeamPhoto@2x.png)!important
      .team-name-wrap
         background-image: url(../images/profile/Profile_GlassMarquee@2x.png)!important
      .score-wrap
         background-image: url(../images/profile/Profile_ScoreDisplay-iPhone@2x.png)!important
      .separator
         background-image: url(../images/profile/ProfileSeperators@2x.png)!important
   #profile-editBio-page
   #profile-editGameDaySpot-page
   #profile-editBraggingRights-page
      .image-title
         background-image: url(../images/profile/ProfileSeperators@2x.png)!important

   #profile-page
      .tutorial-welcome
         background-image: url(../images/tutorial/Tutorial_welcomeBanner@2x.png)
      .tutorial-fannect-logo
         background-image: url(../images/tutorial/Tutorial_fannectLogo@2x.png)
      .tutorial-separator
         background-image: url(../images/tutorial/Tutorial_dividerLine@2x.png)
      .tutorial-profile-sketch
         background-image: url(../images/tutorial/Tutorial_tapToAdd@2x.png)
      .tutorial-score-sketch
         background-image: url(../images/tutorial/Tutorial_scoreBar@2x.png)
      .tutorial-headers
         background-image: url(../images/tutorial/Tutorial_headers@2x.png)
   
