@import "../lib/mixins"
@import "../lib/variables"

#profile-page
#profile-other-page
   
   .ui-btn-left.ui-btn-icon-notext
      height: 28px
      width: 35px
      .ui-icon-custom
         background: url(../images/icons/BarButton_RosterInvite@2x.png) 50% 50% no-repeat
         background-size: 18px 14px
         margin: 3px 0 0 5px
         height: 20px
         width: 25px

   .profile-images
      position: relative
      height: 250px
      width: 320px
      margin: 0 auto

      .team-wrap
         position: absolute
         right: 0
         top: 0
         width: 210px
         height: 210px
         cursor: pointer
         .cover
            position: absolute
            top: 0
            left: 0
            z-index: 200
            width: 210px
            height: 210px
            background: url(../images/profile/Overlay_TeamPictureFrame.png) no-repeat 
            background-size: 199px 197px
         img
            background: url(../images/fannect_TeamPlaceholderPic@2x.png) no-repeat 
            background-size: 188px 188px
            position: absolute
            top: 4px
            left: 5px
            height: 188px
            width: 188px
            border-radius: 10px
            z-index: 10
      .user-wrap
         z-index: 300
         position: absolute
         bottom: 0
         left: 2px
         width: 162px
         height: 162px
         cursor: pointer
         .cover
            position: absolute
            z-index: 400
            width: 162px
            height: 162px
            background: url(../images/profile/Overlay_ProfilePictureFrame.png) 
            background-size:162px 162px
         img
            background: url(../images/fannect_UserPlaceholderPic@2x.png) no-repeat 
            background-size:140px 140px
            position: absolute
            top: 7px
            left: 11px
            width: 140px
            height: 140px
            border-radius: 10px
            z-index: 300
   .name
      font-size: 1.8em
      font-weight: bold
      text-align: center
      margin: 0 10px
      text-shadow: 0 2px 2px #000

   .team-name-wrap
      display: table
      position: relative
      width: 302px 
      height: 66px
      margin: 8px auto
      background: url(../images/profile/Profile_GlassMarquee.png) 
      background-size:302px 66px
      text-transform: uppercase
      text-decoration: none
      .team
         display: table-cell
         vertical-align: middle
         width: 222px
         height: 55px
         line-height: 1.3em
         color: color-light-gray
         text-align: center
         overflow: hidden
         padding: 0 40px 0
         text-overflow: ellipsis
         text-decoration: none
         font-weight: normal
         text-shadow: 0 2px 2px #000
      .icon
         position: absolute
         top: 26px
         right: 18px
         width: 13px
         height: 15px
         background: url(../images/profile/Profile_TeamArrows.png) no-repeat
         background-size: 31px 15px 

   .score-wrap
      position: relative
      width: 302px
      height: 36px
      margin: 8px auto
      background: url(../images/profile/Profile_ScoreDisplay-iPhone.png) 
      background-size:302px 36px
      .score
         position: absolute
         top: 10px
         width: 78px
         font-size: .7em
         font-family: JerseyM54, Helvetica, Arial, sans-serif
         .label
            text-transform: uppercase
            float: left
         .value
            float: right
         &.roster
            left: 20px
         &.points
            left: 113px
         &.rank
            left: 206px

   .shout-button
      background: url(../images/profile/Shout.png) no-repeat
      background-size: 265px 63px
      height: 63px
      width: 130px
      margin: 0 auto
      &.ui-btn-active
      &:active
         background-position: -135px
         border: 0

   .shout-box
      position: relative
      display: table
      background: url(../images/profile/shoutBox.png)
      background-size: 270px 100px
      width: 270px
      height: 100px
      margin: 8px auto 0px

   .shout-text
      display: table-cell
      padding: 10px
      vertical-align: middle
      color: #fff
      text-align: center
      font-size: 0.9em
      width: 100%

   .shout-date
      position: absolute
      bottom: 7px
      white-space: nowrap
      font-size: .7em
      right: 10px
      color: #777
      font-weight: lighter

   .shout-quote-left
      background: url(../images/profile/leftShoutQuote.png) no-repeat
      left: -3px

   .shout-quote-right
      background: url(../images/profile/rightShoutQuote.png) no-repeat
      right: -3px

   .shout-quote-left
   .shout-quote-right
      position: absolute
      background-size: 18px 16px
      top: 12px
      width: 18px
      height: 16px

   .shout-editable
      position: absolute
      top: 15px
      left: 10px
      right: 10px
      bottom: 15px
      border: none
      background: transparent
      dropshadow: none
      color: #aaa
      text-align: center
      font-size: 0.9em
      width: auto
      padding: 0
      margin: 0
      resize:none
      max-width: 250px

   .shout-actions
      width: 270px
      margin: auto

   .fan-dna-separator
   .shout-separator
      width: 320px
      height: 36px
      background-size: 320px 36px
      margin: 6px auto 5px auto
   
   .shout-separator
      background-image: url(../images/profile/ShoutDivider.png)

   .fan-dna-separator
      background-image: url(../images/profile/fanDNADivider.png)
      
   .graph-wrapper
      background: url(../images/profile/FanDNA_Frame.png)
      background-size: 298px 208px
      width: 298px
      height: 208px
      margin: -3px auto 0
      .breakdown 
         width: 220px
         height: 151px
         margin: 0 auto
         padding-top: 12px

   .secondary-slider
      margin-top: 20px
      .swipe-header
         position:relative
         background: url(../images/profile/profile_SectionSwitch.png)
         background-size: 312px 55px
         width: 312px
         height: 55px
         margin: 0 auto
         .title
            font-size
            position:absolute
            height: 52px
            text-align:center
            left: 50px
            right: 50px
            line-height: 52px
            font-family: JerseyM54, Helvetica, Arial
            font-size: 1.3em
         .next
            background: url(../images/profile/rightArrow_Active.png) 50% 50% no-repeat
            right: 2px
            &.inactive
               background: url(../images/profile/rightArrow_Inactive.png) 50% 50% no-repeat
         .prev
            background: url(../images/profile/leftArrow_Active.png) 50% 50% no-repeat
            left: 2px
            &.inactive
               background: url(../images/profile/leftArrow_Inactive.png) 50% 50% no-repeat
         .next
         .prev
            position: absolute
            background-size: 13px 20px !important
            width: 47px
            height: 52px
            top: 0

#profile-page
#settings-page
   .tutorial-welcome
      height: 39px
      background: url(../images/tutorial/Tutorial_welcomeBanner.png) 50% 0 no-repeat
      background-size: 187px 39px
   .tutorial-fannect-logo
      height: 57px
      background: url(../images/tutorial/Tutorial_fannectLogo.png) 50% 0 no-repeat
      background-size: 263px 57px
      margin-top: 8px
   .tutorial-separator
      height: 16px
      background: url(../images/tutorial/Tutorial_dividerLine.png) 50% 50% no-repeat
      background-size: 143px 8px
   .tutorial
      .left
         text-align: left
      ol
         margin-top: 10px
   .tutorial-profile-sketch
      height: 176px
      background: url(../images/tutorial/Tutorial_tapToAdd.png) 50% 50% no-repeat
      background-size: 229px 176px
   .tutorial-score-sketch
      height: 24px
      background: url(../images/tutorial/Tutorial_scoreBar.png) 50% 50% no-repeat
      background-size: 221px 24px
      margin-bottom: 4px
   .tutorial-shout
   .tutorial-fan-dna
      background-size: 220px 52px
      width: 220px
      height: 52px
      margin: 5px auto -10px
   .tutorial-shout
      background-image: url(../images/tutorial/WelcomeTutorial_ShoutSection@2x.png)
   .tutorial-fan-dna
      background-image: url(../images/tutorial/WelcomeTutorial_fanDNAsection@2x.png)
   .tutorial-headers
      height: 95px
      background: url(../images/tutorial/Tutorial_headers.png) 50% 50% no-repeat
      background-size: 220px 95px
      margin: 2px 0 8px 

#profile-shout-page
   .shout-text
      background: url(../images/shout/shout_textBox.png)
      background-size: 290px 111px
      margin: 0 auto 2px
      width: 290px
      height: 111px
      border: 0
      resize: none
      dropshadow: none
      font-size: .9em
      color: #000
      text-shadow: none
      &.warn
         dropshadow: 0 0 5px #c1272d
         border-radius: 8px

   .controls
      margin: 0 auto 0
      width: 290px

      .letter-count
         height: 26px
         line-height: 26px
         color: #bbb
         text-shadow: 0 1px 2px #fff

      .use-twitter
         background: url(../images/shout/twitter_icon.png) no-repeat
         background-size: 60px 26px
         float: right
         width: 30px
         height: 26px
         cursor: pointer

         &.active
            background-position: -30px
         

#profile-invites-page
   .no-invites
      text-shadow: 0 -1px 2px #fff
      color: #bbb
      text-align: center
      font-size: 1.3em
      margin-top: 18px
      line-height: 1.3em

#profile-chooseWebImage-page
   .web-images
      margin-left: -2px
   .web-image-column-left
   .web-image-column-right
      float: left
      width: 50%
   .web-image-column-left
      .web-image-wrap
         margin-right: 6px
   .web-image-column-right
      .web-image-wrap
         margin-left: 6px
   .web-image
      width: 100%
      margin-bottom: 6px
      border: 1px #ccc solid
      &.active
         border: 2px #c1272d solid
         dropshadow: 0 4px 10px rgba(0,0,0,.6)
         margin-left: -1px
         margin-top: -2px
   .web-image-disclaimer
      margin-top: 12px
      font-size: .8em
      text-align: center
      text-shadow: 0 1px 1px #fff
      color: #bbb
      clear: both


@media only screen and (-webkit-min-device-pixel-ratio: 1.5)
   #profile-page
   #profile-other-page
      .settings-button
         background-image: url(../images/profile/settingsIcon@2x.png)!important
      .team-wrap .cover
         background-image: url(../images/profile/Overlay_TeamPictureFrame@2x.png)!important
      .user-wrap .cover
          background-image: url(../images/profile/Overlay_ProfilePictureFrame@2x.png)!important
      .user-hint
         background-image: url(../images/profile/Profile_tapToAddProfilePhoto@2x.png)!important
      .team-hint
         background-image: url(../images/profile/Profile_tapToAddTeamPhoto@2x.png)!important
      .team-name-wrap
         background-image: url(../images/profile/Profile_GlassMarquee@2x.png)!important
      .score-wrap
         background-image: url(../images/profile/Profile_ScoreDisplay-iPhone@2x.png)!important
      .fan-dna-separator
         background-image: url(../images/profile/fanDNADivider@2x.png)!important
      .shout-separator
         background-image: url(../images/profile/ShoutDivider@2x.png)!important
      .graph-wrapper
         background-image: url(../images/profile/FanDNA_Frame@2x.png)!important
      .highlight
         background-image: url(../images/profile/graphBase@2x.png)!important
      .shout-button
         background-image: url(../images/profile/Shout@2x.png)!important
      .shout-box
         background-image: url(../images/profile/shoutBox@2x.png)!important
      .shout-quote-left
         background-image: url(../images/profile/leftShoutQuote@2x.png)!important
      .shout-quote-right
         background-image: url(../images/profile/rightShoutQuote@2x.png)!important

      .secondary-slider
         .swipe-header
            background-image: url(../images/profile/profile_SectionSwitch@2x.png)!important
         .next
            background-image: url(../images/profile/rightArrow_Active@2x.png)!important
            &.inactive
               background-image: url(../images/profile/rightArrow_Inactive@2x.png)!important
         .prev
            background-image: url(../images/profile/leftArrow_Active@2x.png)!important
            &.inactive
               background-image: url(../images/profile/leftArrow_Inactive@2x.png)!important

   #profile-shout-page
      .shout-text
         background-image: url(../images/shout/shout_textBox@2x.png)!important
   #profile-page
      .tutorial-welcome
         background-image: url(../images/tutorial/Tutorial_welcomeBanner@2x.png)!important
      .tutorial-fannect-logo
         background-image: url(../images/tutorial/Tutorial_fannectLogo@2x.png)!important
      .tutorial-separator
         background-image: url(../images/tutorial/Tutorial_dividerLine@2x.png)!important
      .tutorial-profile-sketch
         background-image: url(../images/tutorial/Tutorial_tapToAdd@2x.png)!important
      .tutorial-score-sketch
         background-image: url(../images/tutorial/Tutorial_scoreBar@2x.png)!important
      .tutorial-headers
         background-image: url(../images/tutorial/Tutorial_headers@2x.png)!important
   #profile-shout-page
      .use-twitter
         background-image: url(../images/shout/twitter_icon@2x.png)!important
   
