@import "../lib/variables"
@import "../lib/mixins"

#share-email-page
   p
      text-shadow: 0 -1px 2px #fff
      color: #bbb
      text-align: center
      margin-top: 26px
      font-size: 1.2em
      line-height: 1.2em

#share-sms-page
   .token-input-list
      display: block
      margin: -4px -6px 8px -6px
      dropshadow: inset 0 1px 4px rgba(0,0,0,.2)
      border-radius: 0.4em
      background-gradient(#545454, #454545)

      input
         background