extend ../layout

block header
   h1(data-menu-root="profile") Choose Image
   a(href="profile.html", data-icon="back", data-rel="back", data-theme="b") Profile
   
block content

   input(type="search", data-bind="value: query, valueUpdate: ['afterkeydown'], onEnterOrBlur: search")

   .web-images
      .web-image-column-left
         .web-image-wrap(data-bind="foreach: images")
            // ko if: $index() % 2 == 0 --><img class="web-image" data-bind="click: $parent.select, attr: { src: thumbnail.url }, css: { active: selected }" /><!-- /ko

      .web-image-column-right
         .web-image-wrap(data-bind="foreach: images")
            // ko if: $index() % 2 == 1 --><img class="web-image" data-bind="click: $parent.select, attr: { src: thumbnail.url }, css: { active: selected }" /><!-- /ko

      .loading-more-indicator.clear(data-bind="visible: loading_more", style="display:none;")
      .web-image-disclaimer Powered by Bing&trade; Image Search