extend ../layout

block header
   h1(data-menu-root="profile") Choose Image
   a(href="profile.html", data-icon="back", data-rel="back") Back
   //- a.ui-btn-right(href="profile-editGameDaySpot.html", data-role="button", data-role="click: next", data-transition="slide") Next

block content

   input(type="text", data-bind="value: query, valueUpdate: 'keyup'")

   ul.web-images(data-bind="foreach: images")
      li(data-bind="click: $parent.chooseImage")
         img(data-bind="attr: { src: thumbnail.url }")

   div.loading-more-indicator(data-bind="visible: loading_more", style="display:none;")
