extend ../layout

block header
   h1(data-menu-root="profile") Choose Image
   a(href="profile.html", data-icon="back", data-rel="back", data-theme="b") Back
   //- a.ui-btn-right(href="profile-editGameDaySpot.html", data-role="button", data-role="click: next", data-transition="slide") Next

block content

   input(type="text", data-bind="value: query, valueUpdate: 'keyup'")

   .web-images
      .web-image-column-left
         .web-image-wrap(data-bind="foreach: images")
            // ko if: $index() % 2 == 0 --><img class="web-image" data-bind="click: $parent.chooseImage, attr: { src: thumbnail.url }" /><!-- /ko

      .web-image-column-right
         .web-image-wrap(data-bind="foreach: images")
            // ko if: $index() % 2 == 1 --><img class="web-image" data-bind="click: $parent.chooseImage, attr: { src: thumbnail.url }" /><!-- /ko

      .loading-more-indicator.clear(data-bind="visible: loading_more", style="display:none;")
