extend ../layout

block header
   h1(data-menu-root="profile") Edit Profile
   a(href="profile.html", data-icon="back", data-rel="back") Back
   a.ui-btn-right(href="profile-editGameDaySpot.html", data-role="button", data-role="click: next", data-transition="slide") Next

block content
   .image-title
   textarea.text-edit(type="text", data-bind="value: bio", data-theme="b")
