extend ../layout

block header
   h1(data-menu-root="profile") INVITES
   a(href="profile.html", data-icon="back", data-rel="back", data-theme="b") Profile
   a.ui-btn-right(data-bind="click: rightButtonClick", data-role="button", data-icon="refresh", data-transition="slide", data-theme="b", data-iconpos="notext")

block content
   ul.invite-list.pattern-bg(data-role="listview", data-theme="a", data-bind="template: { name:'invite-fan-template', foreach: invites, beforeRemove: hideInvite }, listviewUpdate: invites, visible: !no_invites()")
   .no-invites(data-bind="fadeIn: no_invites", style="display:none;") Looks like no one's trying to recruit you. Get out and get noticed!
   .loading-more-indicator(data-bind="visible: is_loading")
