extend ../layout

block header
   a(href="/profile/selectLeague", data-icon="back", data-rel="back") Back
   h1 Add Team

block content
   ul(data-role="listview", data-filter="true", data-filter-theme="b")
      //- each team in teams
      //-    li: a(href="/profile?team=#{team}") #{prettyCamel(team)}