extend ../layout

block header
   a(href="/profile", data-icon="back", data-rel="back") Back
   h1 Add Team

block content
   ul(data-role="listview")
      //- each sport in sports
      //-    li: a(href="/profile/selectLeague?sport=#{sport}") #{prettyCamel(sport)}