extend ../layout

block header
   a(href="settings.html", data-icon="back", data-rel="back") Back
   h1 Manage Accounts

block content

   a(data-bind="showClick: true, click: linkTwitter, visible: !twitter_linked()", data-role="button") Link Twitter
   a(data-bind="showClick: true, click: unlinkTwitter, visible: twitter_linked", data-role="button") Unlink Twitter
   
block footer