extend ../layout

block header
   a(href="settings.html", data-icon="back", data-rel="back") Settings
   h1(data-menu-root="profile") Privacy

block content  

   p Mobile and Online privacy has recently become an important issue. At Fannect we desire complete transparency and clarification of our privacy policy for the benefit of our app users. We chose to forego the legal boilerplate most often found in privacy policies in favor of a plain English description


   h1 Types of Information
                
   p There are two primary types of information that can be transmitted via a mobile device
                
   p • Non-Personally Identifiable Information (Non-PII) is information that is anonymous or not linked to a specific individual and is often used in mobile applications by advertising networks and/or to gather app usage metrics
   p Examples include: A UDID (Unique Device ID), IP Address, Date &amp; Time Stamp, OS Version, an event such as a button press, gesture, or completion of a game level, etc

   p • Personally Identifiable Information (PII) is any information that can be used to uniquely identify, contact, or locate a specific, single individual

   p Examples include: Name, Email Address, Phone Number, Physical Address, etc

   p Furthermore, some also perceive that certain independent Non-PII when combined with other Non-PII can in some ways be considered PII, such as demographic data

   p Examples include: Age, Gender, Religion, Political Affiliation, etc

   h1 Policy

   p Fannect does not collect or transmit any PII without your consent. In fact, the only time any PII is transmitted is when you request technical support using our In-App Technical Support feature. In order for us to respond to questions, feature requests, and issues we must ask for at least an email address and optionally your phone number
               
   p Fannect does not collect, transmit, or accesses any other private data such as contact names, email address, phone numbers, call log history, photos, music, videos, or information stored in other applications on your iOS device, at any time, ever

   p Fannect does not collect or transmit any borderline or demographic information as described above at any time, ever

   p If authorized by you, we may transmit geographic location information to Flurry for the purposes of app usage metrics in no greater detail than a general metropolitan area within a state or province in a country. This app uses built in SDK mapping functionality to provide directions, routes, and/or location information; however, this data would never be collected or transmitted to Flurry, or any other 3rd party
                
   p The Fannect app transmits some Non-PII information to Flurry for the purpose of app usage metrics. Fannect may also transmit some Non-PII information to ad networks for the purposes of delivering ad inventory
                
   h1 The UDID
   p The primary piece of Non-PII data transmitted from our app is the device UDID. This is a random string of letters and numbers unique to each iOS device (similar to a serial number) that looks like this
                
   p ecdcd81cf16d1f59b5f76791dba0ee5c627a8a8e
                
   p There is no personally identifiable information in this UDID and no way to associate your UDID to you as a specific individual
                
   h1 Flurry
   p Flurry is an application framework and service offered to app developers free of charge to help developers better understand how and when their apps are used. Flurry collects and aggregates anonymous usage data one app and session at a time. After collecting and processing the data Flurry presents it back to developers in a dashboard (shown below) so they can better understand how users interact with their apps.
                
   p The dashboard shows developers aggregate, anonymous information such as
                
   p • The number of times the app has been used
   p • The number of active users (users who have used the app in the last 7 days
   p • Average session lengt
   p • The countries in which the app is used and the number of users in-countr
   p • User workflow
   p • Basic Crash Informatio
   p • Custom events (i.e. the number of times an article was shared via email, the number of times a button was pressed, or the number of times a record was created)
                
   p We use this data to better understand which features are used more versus those that are used less. This allows us to prioritize which features to allocate more time and resources towards providing new functionality.
                
   p It also helps us prioritize bug fixes and can even provide us basic crash information without any interaction required from you (though certainly not as helpful as you actually sending us an official crash log from the device)
                
   h1 Use of Data
   p It is important to understand that neither Flurry nor Fannect collects, stores, buys, sells, or trades consumer PII. Neither flurry nor Fannect knows anything about the individuals behind the device upon which our app is running, not your name, physical address, phone number, email address, etc. Flurry does not profile individual consumers; rather, it profiles app usage.
                
   p This aggregated information is critical to Fannect to increasing customer satisfaction and retention and to improving software and product quality as well as measuring ROI (Return On Investment).
                
                
   p By using the Fannect app, you are consenting to the transmission of basic Non-PII (as indicated above) to Flurry to assist Fannect with improving software and product quality and measuring ROI. Additionally, you are consenting to the transmission of Non-PII to one or more ad networks for the purpose of delivering ad inventory.
                
   p If you do not agree with any of these terms, you are prohibited from using or accessing this app.