extend ../layout

block header
   a(href="profile.html", data-icon="back", data-rel="back", data-theme="b") Back
   h1(data-menu-root="profile") Remove Team

block content

   #confirmDelete(data-role="popup", style="width:260px;", class="ui-corner-all", data-overlay-theme="a", data-theme="a", data-bind="showPopup: showConfirm")
      .ui-corner-top(data-role="header", data-theme="b")
         h1 Confirm Remove
      .ui-corner-bottom.ui-content(data-role="content", data-theme="a")
         h3.ui-title(data-bind="html: deleteText")
         a(data-role="button", data-rel="back", data-bind="click: removeProfile, showClick: true") Delete
         a(data-role="button", data-rel="back", data-theme="c") Cancel

   ul.dark-pattern-bg(data-role="listview", data-theme="b", data-bind="foreach: teams, listviewUpdate: teams, beforeRemove: hideProfile")
      li(data-icon="false")
         a(data-bind="click: $parent.confirmDelete, text: team_name, showListviewClick: true")
   .loading-more-indicator(data-bind="visible: is_loading")


     