extend ../../layout

block header
   h1(data-menu-root="connect") New Reply
   a(data-icon="back", data-rel="back", data-theme="b") Back
   a.ui-btn-right(data-role="button", data-theme="b", data-bind="click: rightButtonClick") Post It

block content
   .topic(data-bind="text: topic")
   .owner
      | Started by <span data-bind="text: owner"></span>

   .message-wrap
      textarea.message(data-bind="value: message, valueUpdate: ['afterkeydown'], css:{'has-image':image_url().length > 0}", placeholder="Enter your reply")
      .attached-image(data-bind="visible:image_url().length > 0, click: showRemoveImage, clickBubble:false, css:{'selected':show_remove_image}")
         img(data-bind="attr:{src:image_url}")
         .remove-attached-image(data-bind="clickOff: show_remove_image, click: removeImage, slideInOutHorz: show_remove_image") Remove
   .camera-button(data-bind="click: chooseImage, showClick: true")
