extend ../../layout

block header
   h1(data-menu-root="connect") Replies
   a(href="connect-huddle.html", data-icon="back", data-rel="back", data-theme="b") Back
   a.ui-btn-right(data-bind="click: rightButtonClick", data-role="button", data-theme="b") New Reply
   
block content
   
   .header-section
      .topic(data-bind="text: topic")
      .owner
         | Started by <span data-bind="text: owner"></span>

      .page-controls
         .current-page(data-bind="html: current_page_text")
         .first(data-bind="click: firstPage"): .arrow
         .prev(data-bind="click: prevPage, css:{'inactive': current_page() == 1}"): .arrow
         .next(data-bind="click: nextPage, css:{'inactive': current_page() == page_count()}"): .arrow
         .last(data-bind="click: lastPage"): .arrow

   ul.pattern-bg(data-role="listview", data-bind="foreach: replies, listviewUpdate: replies, visible: replies().length > 0").replies
      li.reply
         .verified-icon(data-bind="setClass: $data.owner_verified")
         .content(data-bind="text: content")
         .owner(data-bind="text: owner_name")
         .date
            | <span class="day" data-bind="text: date"></span> at <span data-bind="text: time"></span>

   .loading-more-indicator(data-bind="visible: loading_more", style="display:none;")

   .page-controls.bottom(data-bind="visible: replies().length > 5")
      .current-page(data-bind="html: current_page_text")
      .first(data-bind="click: firstPage"): .arrow
      .prev(data-bind="click: prevPage, css:{'inactive': current_page() == 1}"): .arrow
      .next(data-bind="click: nextPage, css:{'inactive': current_page() == page_count()}"): .arrow
      .last(data-bind="click: lastPage"): .arrow
