extend ../../layout

block header
   h1(data-menu-root="connect") Replies
   a(href="connect-huddle.html", data-icon="back", data-rel="back", data-theme="b") Back
   a.ui-btn-right(data-bind="click: rightButtonClick", data-role="button", data-theme="b") New Reply
   
block content
   
   .header-section
      .topic(data-bind="text: topic")
      .owner
         | Started by <span data-bind="text: owner"></span>

      .page-controls
         .current-page(data-bind="html: current_page_text")
         .first(data-bind="click: firstPage"): .arrow
         .prev(data-bind="click: prevPage, css:{'inactive': current_page() == 1}"): .arrow
         .next(data-bind="click: nextPage, css:{'inactive': current_page() == page_count()}"): .arrow
         .last(data-bind="click: lastPage"): .arrow

   ul.pattern-bg(data-role="listview", data-bind="foreach: replies, listviewUpdate: replies, visible: replies().length > 0").replies
      li.reply
         .content-wrap
            .content(data-bind="text: content")
            .reply-image-wrap(data-bind="visible: image_url.length > 0")
               img(data-bind="attr:{'src': image_url}")
               .cover
         .meta-wrap
            .image-wrap
               img.profile-image(data-bind="thumbnailSrc: owner_profile_image_url")
               .cover
               .verified-icon(data-bind="setClass: $data.owner_verified")
            .owner(data-bind="text: owner_name")
            .date
               | <span class="day" data-bind="text: date"></span> at <span data-bind="text: time"></span>
            .voting-graph(data-bind="css:{'has-voted':has_voted,'ui-btn-active':show_voting}, click: $parent.toggleVoting")
               .graph-wrap
                  .up-label
                     | +<span data-bind="text: up_votes"></span>
                  .down-label
                     | -<span data-bind="text: down_votes"></span>
                  .bar
                     .downs(data-bind="percentage: down_vote_percent")
                     .ups(data-bind="percentage: up_vote_percent")
      li.voting(data-bind="slideInOut: show_voting", style="display:none;")
         .vote-up(data-bind="click: $parent.upVote, showClick:true")
         .vote-down(data-bind="click: $parent.downVote, showClick:true")

   .loading-more-indicator(data-bind="visible: loading_more", style="display:none;")

   .page-controls.bottom(data-bind="visible: replies().length > 5")
      .current-page(data-bind="html: current_page_text")
      .first(data-bind="click: firstPage"): .arrow
      .prev(data-bind="click: prevPage, css:{'inactive': current_page() == 1}"): .arrow
      .next(data-bind="click: nextPage, css:{'inactive': current_page() == page_count()}"): .arrow
      .last(data-bind="click: lastPage"): .arrow
