extend ../../layout

block header
   h1(data-menu-root="connect") Tag Teams
   a(href="connect-huddle-newTopic.html", data-icon="back", data-rel="back", data-theme="b") Cancel
   a.ui-btn-right(data-bind="click: rightButtonClick", data-role="button", data-theme="b") Done
   
block content

   .separator Default

   ul.dark-pattern-bg.standard(data-role="listview", data-theme="b")
      li.selected
         a(data-bind="text: team_name")
      li(data-bind="visible: is_college, css:{'selected':include_conference}")
         a(data-bind="click: toggleConference, text: conference_name")
      li(data-bind="css:{'selected':include_league}")
         a(data-bind="click: toggleLeague, text: league_name")

   .separator(data-bind="visible: selected_teams().length > 0") Tagged Teams

   ul.dark-pattern-bg.tagged(data-role="listview", data-theme="b", data-bind="template: { foreach: selected_teams }, listviewUpdate: selected_teams")
      li(data-bind="css:{'selected':selected}").newly-added
         a(data-bind="click: $parent.deselectTeam, text: full_name")

   .separator Search to Tag

   input(type="search", data-bind="value: query, valueUpdate: ['afterkeydown'], onEnterOrBlur: androidSearch")

   ul.dark-pattern-bg.has-search.searched(data-role="listview", data-theme="b", data-bind="template: { foreach: searched_teams }, listviewUpdate: searched_teams")
      li(data-bind="css:{'selected':selected}, visible: !selected()")
         a(data-bind="click: $parent.selectTeam, text: full_name")
   
   .loading-more-indicator(data-bind="visible: loading_more", style="display:none;")
