extend ../layout

block header
   h1(data-menu-root="games") Attendance
   a(href="games.html", data-icon="back", data-rel="back", data-theme="b") Games
   a.tutorial-link(href="#", data-iconpos="notext", data-icon="custom", data-theme="b")

block content
   .info
      .left-cap
      .right-cap

      .stadium-info
         .stadium(data-bind="text: game_data.stadium().name")
         .location(data-bind="text: game_data.stadium().location")

      .game-info
         .team-info.home
            .inner
               span.team(data-bind="text: game_data.home_team().name")
               br
               span.record(data-bind="text: game_data.home_team().record")
         .vs-center
         .team-info.away
            .inner
               span.team(data-bind="text: game_data.away_team().name")
               br
               span.record(data-bind="text: game_data.away_team().record")

   .map-wrapper
      .map

   .counter

   .bottom
      .inner
         a.check-in(data-role="button", data-bind="visible: !checked_in() && in_range() && game_data.available(), click: checkIn") Check In
         .checked-in(data-bind="fadeIn: checked_in() && game_data.available(), duration: 500", style="display:none;") Checked In!
         .no-game(data-bind="visible: !game_data.available() && game_data.no_game_scheduled() || !game_data.available() && in_range()")
            .scrolling-text Check ins are only allowed on game days!
            .next-game
               span.label Next Gameday:
               span.text(data-bind="text: game_data.next_game")
      .distance-signage(data-bind="visible: !in_range() && !game_data.no_game_scheduled()")
         .only Only
         .distance(data-bind="text: miles_away")
         .bottom-text To Check In!

block tutorial
   .tutorial-slider.two
      .tutorial-item
         .tutorial-content
            .tutorial-close
            .tutorial-next
            .tutorial-pos-indicator
               .dot.active
               .dot
            .tutorial-map
            p Check in on gamedays when you're at the stadium or tailgate to earn points!
            .tutorial-submit-button

      .tutorial-item
         .tutorial-content
            .tutorial-close
            .tutorial-done
            .tutorial-prev
            .tutorial-pos-indicator
               .dot
               .dot.active
            .tutorial-title SCORING RULES
            p A check in at a home game is worth 10 dedication points. 
            .plus-ten
            p After the first check in, each following time will be worth 1 more point than the previous home check in. Check in at away games to double your points for that game!
