extend ../layout

block header
   h1(data-menu-root="games") ATTENDANCE
   a(href="games", data-icon="back", data-rel="back", data-theme="b") Games
   a.tutorial-link(href="#", data-iconpos="notext", data-icon="custom", data-theme="b")

block content
   .info
      .left-cap
      .right-cap

      .stadium-info
         .stadium(data-bind="text: stadium().name")
         .location(data-bind="text: stadium().location")

      .game-info
         .team-info.home
            .inner
               span.team(data-bind="text: home_team().name")
               br
               span.record(data-bind="text: home_team().record")
         .vs-center
         .team-info.away
            .inner
               span.team(data-bind="text: away_team().name")
               br
               span.record(data-bind="text: away_team().record")

   .distance(data-bind="text: user_distance")

   .map-wrapper
      .map

   .bottom
      .inner(data-bind="visible: in_range")
         a.check-in(data-role="button", data-bind="visible: !checked_in() && available(), click: checkIn") Check In
         .checked-in(data-bind="fadeIn: checked_in() && available(), duration: 500", style="display:none;") Checked In!
         .no-game(data-bind="visible: !available()")
            .scrolling-text Check ins are only allowed on game days!
            .next-game
               span.label Next Gameday:
               span.text(data-bind="text: next_game")
      .distance-signage(data-bind="visible: !in_range()")
         .only Only
         .distance(data-bind="text: miles_away")
         .bottom-text to check in!

block tutorial
   .tutorial-slider.one
      .tutorial-item
         .tutorial-content
            .tutorial-close
            .tutorial-title ATTENDANCE
            .tutorial-map
            p Check in on gamedays when you're at the stadium or tailgate to earn points!
            .tutorial-submit-button
