extend ../layout

block header
   h1(data-menu-root="games") ATTENDANCE
   a(href="games", data-icon="back", data-rel="back") Back
   a.tutorial-link(href="#", data-iconpos="notext", data-icon="custom", data-theme="b")

block content
   .info
      .left-cap
      .right-cap

      .stadium-info
         .stadium(data-bind="text: stadium_name")
         .location(data-bind="text: stadium_location")

      .game-info
         .home-info
            .inner
               .team(data-bind="text: home_team")
               .record(data-bind="text: home_record")
         .vs
         .away-info
            .inner
               .team(data-bind="text: away_team")
               .record(data-bind="text: away_record")

   .bottom
      .inner
         a.check-in(data-role="button", data-bind="visible: !checked_in() && !no_game, click: checkIn") Check In
         .checked-in(data-bind="fadeIn: checked_in() && !no_game, duration: 500", style="display:none;") Checked In!
         .no-game(data-bind="visible: no_game")
            .scrolling-text Check ins are only allowed on game days!
            .next-game
               span.label Next Gameday:
               span.text(data-bind="text: next_game")

block tutorial
   .tutorial-slider.one
      .tutorial-item
         .tutorial-content
            .tutorial-close
            .tutorial-title ATTENDANCE
            .tutorial-map
            p Check in on gamedays when you're at the stadium or tailgate to earn points!
            .tutorial-submit-button
