extend ../layout

block header
   h1(data-menu-root="games") GAMEFACE
   a(href="games", data-icon="back", data-rel="back") Back
   a.tutorial-link(href="#", data-iconpos="notext", data-icon="custom", data-theme="b")
   
block content

   .game-face(data-bind="css: { on: face_on() }")

   .team-info(data-bind="visible: available")
      .home.team-glass
         .label Home
         .team(data-bind="text: home_team")
         .record(data-bind="text: home_record")
      .vs
      .away.team-glass
         .label Away
         .team(data-bind="text: away_team")
         .record(data-bind="text: away_record")
      .clear
      
   .unavailable.scrolling-text(data-bind="visible: !available()", style="display:none;") GameFace can only be activated on game days!

   .switch-wrap
      select(id="gameFaceSwitch", data-role="slider", data-bind="value: face_value, disableSlider: face_on() || !available(), sliderUpdate: face_on")
         option(value="off") Off
         option(value="on") On

block tutorial
   .tutorial-slider.one
      .tutorial-item
         .tutorial-content
            .tutorial-close
            .tutorial-title GAMEFACE
            .tutorial-gameface-sketch
            p Turn on your gameface on gamedays and earn points for keeping your head in the game!
            .tutorial-switch

