extend ../layout

block header
   h1(data-menu-root="games") GameFace
   a(href="games.html", data-icon="back", data-rel="back", data-theme="b") Games
   a.tutorial-link(href="#", data-iconpos="notext", data-icon="custom", data-theme="b")

block content

   .game-face(data-bind="css: { on: face_on }")

   .team-info(data-bind="visible: game_data.available")
      .home.team-glass
         .label Home
         .inner
            .team(data-bind="text: game_data.home_team().name")
            .record(data-bind="text: game_data.home_team().record")
      .vs
      .away.team-glass
         .label Away
         .inner
            .team(data-bind="text: game_data.away_team().name")
            .record(data-bind="text: game_data.away_team().record")
      .clear
      
   .next-game(data-bind="visible: !game_data.no_game_scheduled() && !game_data.available()")
      .stadium(data-bind="text: game_data.stadium().name")
      .game-time(data-bind="text: game_data.next_game")
      .game-info
         .team-info.away
            .inner
               span.team(data-bind="text: game_data.away_team().name")
         .team-info.home
            .inner
               span.team(data-bind="text: game_data.home_team().name")
         .vs-center
               
   .no-game-scheduled(data-bind="visible: game_data.no_game_scheduled")
      .inner
         span.title No game scheduled!
         br
         span.sub Keep checking back!

   .unavailable.scrolling-text(data-bind="visible: !game_data.in_progress() && !game_data.available()", style="display:none;") Game Face can only be activated on game days!
   .in-progress(data-bind="visible: game_data.in_progress() && !game_data.available()", style="display:none;") This game has already started. Activate your Game Face prior to game time to earn points!

   .switch-wrap(data-bind="visible: game_data.available")
      select(id="gameFaceSwitch", data-role="slider", data-bind="value: face_value, disableSlider: face_on() || !game_data.available(), sliderUpdate: face_on")
         option(value="off") Off
         option(value="on") On

   a.motivate(data-role="button", href="games-gameFace-motivateSelect.html", data-bind="fadeIn: face_on() && game_data.available()", style="display:none;", data-transition="slide") Motivate Your Roster!

block tutorial
   .tutorial-slider.two
      .tutorial-item
         .tutorial-content
            .tutorial-close
            .tutorial-next
            .tutorial-pos-indicator
               .dot.active
               .dot
            .tutorial-gameface-sketch
            p.intro Turn on your GameFace on gamedays to show your passion and motivate others for extra points!
            .tutorial-switch

      .tutorial-item
         .tutorial-content
            .tutorial-close
            .tutorial-done
            .tutorial-prev
            .tutorial-pos-indicator
               .dot
               .dot.active
            .tutorial-title BREAKDOWN
            //- p.scoring Earn one passion point per game by turning your GameFace on!

            .tutorial-points-table
               .point-header Awarded
               .score-header Requirements

               .point-levels
                  .level +1
                  .level +2
                  .level +3
                  .level +4
                  .level +5
                  .level +6
               .score-levels
                  .level GameFace On!
                  .level Motivate 2-3
                  .level Motivate 4-6
                  .level Motivate 7-10
                  .level Motivate 11-15
                  .level Motivate 16+
                  
