extend ../layout

block header
   h1(data-menu-root="games") GAMEFACE
   a(href="games", data-icon="back", data-rel="back", data-theme="b") Games
   a.tutorial-link(href="#", data-iconpos="notext", data-icon="custom", data-theme="b")
   
block content

   .game-face(data-bind="css: { on: face_on() }")

   .team-info(data-bind="visible: game_data.available")
      .home.team-glass
         .label Home
         .inner
            .team(data-bind="text: game_data.home_team().name")
            .record(data-bind="text: game_data.home_team().record")
      .vs
      .away.team-glass
         .label Away
         .inner
            .team(data-bind="text: game_data.away_team().name")
            .record(data-bind="text: game_data.away_team().record")
      .clear
      
   .next-game(data-bind="visible: !game_data.no_game_scheduled() && !game_data.available()")
      .stadium(data-bind="text: game_data.stadium().name")
      .next_game(data-bind="text: game_data.next_game")
      .game-info
         .team-info.home
            .inner
               span.team(data-bind="text: game_data.home_team().name")
               //- br
               //- span.record(data-bind="text: game_data.home_team().record")
         .vs-center
         .team-info.away
            .inner
               span.team(data-bind="text: game_data.away_team().name")
               //- br
               //- span.record(data-bind="text: game_data.away_team().record")
      //- .game-time(data-bind="text: game_data.next_game")
      //- .coverage(data-bind="text: game_data.coverage")
      
   .no-game-scheduled(data-bind="visible: game_data.no_game_scheduled")
      .inner
         span.title No game scheduled!
         br
         span.sub Keep checking back!

   .unavailable.scrolling-text(data-bind="visible: !game_data.available()", style="display:none;") GameFace can only be activated on game days!

   .switch-wrap(data-bind="visible: game_data.available")
      select(id="gameFaceSwitch", data-role="slider", data-bind="value: face_value, disableSlider: face_on() || !game_data.available(), sliderUpdate: face_on")
         option(value="off") Off
         option(value="on") On

block tutorial
   .tutorial-slider.one
      .tutorial-item
         .tutorial-content
            .tutorial-close
            .tutorial-title GAMEFACE
            .tutorial-gameface-sketch
            p Turn on your gameface on gamedays and earn points for keeping your head in the game!
            .tutorial-switch

