extend ../layout

block header
   h1(data-menu-root="games") Guess The Score
   a(href="games", data-icon="back", data-rel="back", data-theme="b") Games
   a.tutorial-link(href="#", data-iconpos="notext", data-icon="custom", data-theme="b")

   #guessTheScorePointsPopup.scorePointsInfoPopup(data-role="popup", style="width:260px; text-align: center;", class="ui-corner-all", data-overlay-theme="a", data-theme="a")
      .ui-corner-top(data-role="header", data-theme="b")
         h1 Scoring
      .ui-corner-bottom.ui-content(data-role="content", data-theme="a", style)
         h3.ui-title Points and rank will be calculated late every night! Check back tomorrow for updates!
         a(data-role="button", href="javascript:window.fannect.hideScoringPopup();") Ok

block content
   form.scrollable-content(action="/points/guessTheScore", method="post", data-ajax="false")
      .score
         .home.guess-block
            label Home
            .guess-wrap
               input(type="number", name="home_guess", id="home_guess", pattern="[0-9]*", placeholder="0", data-bind="value: home_score, fadeIn: !pick_set()")
               .value(data-bind="fadeIn: pick_set, duration: 400, text: home_score")
         .away.guess-block
            label Away
            .guess-wrap
               input(type="number", name="away_guess", id="away_guess", pattern="[0-9]*", placeholder="0", data-bind="value: away_score, fadeIn: !pick_set()")
               .value(data-bind="fadeIn: pick_set, duration: 400, text: away_score")
         .clear

      .team-info(data-bind="visible: game_data.available")
         .home.team-glass
            .inner
               .team(data-bind="text: game_data.home_team().name")
               .record(data-bind="text: game_data.home_team().record")
         .vs
         .away.team-glass
            .inner
               .team(data-bind="text: game_data.away_team().name")
               .record(data-bind="text: game_data.away_team().record")
         .clear

      .next-game(data-bind="visible: !game_data.no_game_scheduled() && !game_data.available()")
         .stadium(data-bind="text: game_data.stadium().name")
         .game-time(data-bind="text: game_data.next_game")
         .game-info
            .team-info.home
               .inner
                  span.team(data-bind="text: game_data.home_team().name")
            .vs-center
            .team-info.away
               .inner
                  span.team(data-bind="text: game_data.away_team().name")
         
      .no-game-scheduled(data-bind="visible: game_data.no_game_scheduled")
         .inner
            span.title No game scheduled!
            br
            span.sub Keep checking back!

      .picking(data-bind="visible: !pick_set() && game_data.available")
         button.submit-guess(type="submit", value="Submit", data-bind="click: setPick, enabled: input_valid")

      .picked(data-bind="fadeIn: pick_set() && game_data.available()")
         .scrolling-text Your pick is set! Your points will be aggregated after the game!
      
      .unavailable.scrolling-text(data-bind="visible: !game_data.in_progress() && !game_data.available()", style="display:none;") Guess the Score can only be played on game days!
      .in-progress(data-bind="visible: game_data.in_progress() && !game_data.available()", style="display:none;") This game is in action. Submit your score predictions prior to game time to earn points!

      .game-preview(data-bind="visible: game_data.game_preview()")
         .title Game Preview
         .text(data-bind="html: game_data.game_preview")

block tutorial
   .tutorial-slider.one
      .tutorial-item
         .tutorial-content
            .tutorial-close
            .tutorial-title GUESS THE SCORE
            .tutorial-score-picker
            p Use these selectors to submit your score prediction before the game begins!
            .tutorial-submit-button