extend ../layout

block header
   h1(data-menu-root="games") GUESS THE SCORE
   a(href="games", data-icon="back", data-rel="back") Back
   a.tutorial-link(href="#", data-iconpos="notext", data-icon="custom", data-theme="b")

block content
   form.scrollable-content(action="/points/guessTheScore", method="post")
      .score
         .home.guess-block
            label(for="home_guess") Home
            .guess-wrap
               input(type="number", name="home_guess", id="home_guess", pattern="[0-9]*", placeholder="0", data-bind="value: home_score, fadeIn: !pick_set()")
               .value(data-bind="fadeIn: pick_set, duration: 400, text: home_score")
         .away.guess-block
            label(for="away_guess") Away
            .guess-wrap
               input(type="number", name="away_guess", id="away_guess", pattern="[0-9]*", placeholder="0", data-bind="value: away_score, fadeIn: !pick_set()")
               .value(data-bind="fadeIn: pick_set, duration: 400, text: away_score")
         .clear

      .team-info
         .home.team-glass
            .team(data-bind="text: home_team")
            .record(data-bind="text: home_record")
         .vs
         .away.team-glass
            .team(data-bind="text: away_team")
            .record(data-bind="text: away_record")
         .clear

      .picking(data-bind="visible: !pick_set()")
         button.submit-guess(type="submit", value="Submit", data-bind="click: setPick, enabled: input_valid")

      .picked(data-bind="fadeIn: pick_set")
         .scrolling-text Your pick is set! Check back after the game to view results!
         .game-preview
            .title Game Preview
            .text(data-bind="text:game_preview")

block tutorial
   .tutorial-slider.one
      .tutorial-item
         .tutorial-content
            .tutorial-close
            .tutorial-title GUESS THE SCORE
            .tutorial-score-picker
            p Use these selectors to submit your score prediction before the game begins!
            .tutorial-submit-button