extend ../../layout

block header
   a(href="games-gameFace.html", data-icon="back", data-rel="back", data-theme="b") Back
   h1(data-menu-root="games") Motivate
   a.ui-btn-right(data-role="button", data-bind="click: rightButtonClick, showClick: true", data-theme="b") Motivate!

   
block content

   input(type="search", data-bind="value: query, valueUpdate: ['afterkeydown'], onEnterOrBlur: androidSearch")

   ul.pattern-bg.has-search(data-role="listview", data-bind="template: { name:'motivate-fan-template', foreach: fans }, listviewUpdate: fans, visible: fans().length > 0").fans
   .loading-more-indicator(data-bind="visible: loading_more", style="display:none;")
