extend ../profile

block header
   h1(data-menu-root="connect") Player Profile
   a(href="connect-addToRoster.html", data-icon="back", data-rel="back") Back
   a.ui-btn-right(href="#confirmPopup", data-role="button", data-rel="popup", data-position-to="window", data-transition="pop", data-icon="plus") Add

   #confirmPopup(data-role="popup", style="max-width:400px;", class="ui-corner-all", data-overlay-theme="a", data-theme="a")
      .ui-corner-top(data-role="header", data-theme="b")
         h1 Add to Roster?
      .ui-corner-bottom.ui-content(data-role="content", data-theme="a")
         h3.ui-title Are you sure you want to add this player to your roster?
         a(href="#", data-role="button", data-inline="true", data-rel="back", data-theme="c") Cancel
         a(href="connect.html", data-role="button", data-inline="true", data-bind="click: addToRoster", data-transition="slideup") Add
