extend ../layout

block header
   h1(data-menu-root="connect") Huddle
   a(href="connect.html", data-icon="back", data-rel="back", data-theme="b") Back
   a.ui-btn-right(href="connect-huddle-newTopic.html", data-role="button", data-theme="b", data-transition="slideup") New Topic

   
block content

   .header-section
      .team_name(data-bind="text: team_name")
      .sort-by
         .oldest(data-bind="css:{'active':sort_by()=='oldest'}, click: sortByOldest") Oldest
         .most-active(data-bind="css:{'active':sort_by()=='most_active'}, click: sortByMostActive") Latest Activity
         .newest(data-bind="css:{'active':sort_by()=='newest'}, click: sortByNewest") Newest

      .categories.swipe-slider(data-bind="swipe: sliderOptions()")
         .prev: .arrow
         .next: .arrow
         .swipe-wrap
            .swipe-content
               .swipe-item Huddles by Everyone
               .swipe-item Huddles by My Team
               .swipe-item Huddles by My Roster 
               .swipe-item My Huddle Feed

   ul.pattern-bg(data-role="listview", data-bind="foreach: huddles, listviewUpdate: huddles, visible: huddles().length > 0").huddles
      li.huddle
         a(href="connect-huddle-replies.html", data-bind="params:{'huddle_id': _id}, showListviewClick: true", data-transition="slide")
            
            .topic(data-bind="text: topic")
            .owner 
               | Started by <span data-bind="text: owner_name"></span>
               //- | <span class="verified-icon" data-bind="setClass: $data.owner_verified"></span>
            .meta
               span.count
                  | <span data-bind="text: (reply_count == 1 ? 'No Replies' : (reply_count - 1) + (reply_count > 2 ? ' Replies' : ' Reply')) "></span>
               .stars
            .date
               | Last Comment <span class="day" data-bind="text: date"></span> at <span data-bind="text: time"></span>

   .no-results-wrap(data-bind="fadeIn: !loading_more() && huddles().length == 0, hideInstant: true")
      .title No Results.
      .subtitle Start the conversation!
      a.createHuddle(href="connect-huddle-newTopic.html", data-transition="slidedown", data-bind="showClick: true")

   .loading-more-indicator-text(data-bind="visible: has_more", style="display:none;") Loading...
