extend ../layout

block header
   h1(data-menu-root="connect") Huddle
   
block content

   .categories.swipe-slider(data-bind="swipe: sliderOptions()")
      .swipe-wrap
         .swipe-content
            .swipe-item
               .next-game
                  .game-date(data-bind="text: next_game().game_date")
                  .team-wrap.home
                     .team-name(data-bind="text: next_game().home_team")
                  .team-wrap.away
                     .team-name(data-bind="text: next_game().away_team")
                  .stadium-name(data-bind="text: next_game().stadium_name")
                  .stadium-location(data-bind="text: next_game().stadium_location")
                  .time-and-coverage-wrap
                     .time-and-coverage(data-bind="text: next_game().time_and_coverage")
            .swipe-item
               .graph-wrapper
                  .breakdown(data-bind="chart: breakdown")
            .swipe-item

   input(type="search", data-bind="value: query, valueUpdate: ['afterkeydown'], onEnterOrBlur: androidSearch")

   .my-roster-title(data-bind="slideInOut: show_roster_title") My Roster
   .my-roster-title(data-bind="slideInOut: show_roster_empty") Your Roster is Empty

   ul.pattern-bg.has-search(data-role="listview", data-bind="template: { name:'connect-fan-template', foreach: fans }, listviewUpdate: fans, visible: fans().length > 0").fans
   .loading-more-indicator(data-bind="visible: loading_more", style="display:none;")

   .share-wrap(data-bind="fadeIn: show_sharing", style="display:none;")
      .sub-title Recruit More Fans!
      .share-button.twitter(data-bind="showClick: true, click: shareViaTwitter")
      .share-button.email(data-bind="showClick: true, click: shareViaEmail")
      //- .share-button.sms(data-bind="showClick: true, click: shareViaSMS")
