extend ../layout

block header
   h1(data-menu-root="current") Share via Email
   a(href="share.html", data-icon="back", data-rel="back", data-theme="b") Back
   
block content
   p 
      | We have sent you an email that you can forward to your family, friends, and fellow fans to help
      | your team's fanbase grow!