extend ../layout

block header
   h1(data-menu-root="current") Share via SMS
   a(data-icon="back", data-rel="back", data-theme="b") Back
   
block content
   textarea.contacts-textarea(data-bind="textToken: { source: contacts, value: selected_contacts, filterFn: filterContact }", autofocus="autofocus").
