@import "../lib/mixins"
@import "../lib/variables"

#games-attendanceStreak-page
   .ui-content
      padding: 0
      position: static
      
      .info
         margin: 0 auto
         max-width: 600px
         height: 121px
         background: url(../images/games/attendanceStreak/Overlay_Marquee_iPhone.png) repeat-x 50% -1px
         background-size: 320px 121px
         position: relative
         overflow: hidden
         text-align: center
         z-index: 2
         .right-cap
         .left-cap
            position: absolute
            top: -6px
            width: 13px
            height: 110px
         .left-cap
            left: 0
            background: url(../images/games/attendanceStreak/Overlay_MarqueeCap_Left_iPhone.png)
            background-size: 13px 110px
         .right-cap
            right: 0
            background: url(../images/games/attendanceStreak/Overlay_MarqueeCap_Right_iPhone.png)
            background-size: 13px 110px
         .stadium-info
            padding-top: 4px
            .stadium
               font-size: 1.6em
               text-shadow: 0.1em 0.1em #000
            .location
               font-size: .7em
               color: color-light-gray
               text-shadow: 0.1em 0.1em #000

         .game-info
            margin-top: 6px
            font-size: .7em
            .team
               text-overflow: ellipsis
               white-space: nowrap;
            .record
               margin-top: 5px
               color: color-light-gray
               text-overflow: ellipsis
               white-space: nowrap;
            .team-info
               display: table
               width: 40%
               height: 50px
               margin-top: -9px
               &.home
                  float: left
                  margin-left: 15px
               &.away
                  float: right
                  margin-right: 15px
               .team
                  font-size: 1.3em
               .inner
                  display: table-cell
                  vertical-align: middle
                  height: 100%
            
      .map-wrapper
         position: absolute
         top: header-height + 101
         bottom: footer-height + 89
         width: 100%
         z-index: 0
         .is-mobile &
            top: 101px
            bottom: 89px
         .map
            max-width: 600px
            height: 100%
            margin: 0 auto

      .bottom
         position: absolute
         width: 100%
         height: 96px
         bottom: footer-height
         background: url(../images/games/attendanceStreak/Overlay_ButtonHolder_iPhone.png) 50% 0%
         background-size: 320px 96px
         z-index: 2
         
         .is-mobile &
            bottom: 0

         .inner
            max-width: 300px
            padding: 0 12px
            margin: 28px auto 0
            text-align: center
         .checked-in
            background: url(../images/games/attendanceStreak/Overlay_checkbox.png) 0% 50% no-repeat
            background-size: 39px 39px
            display: inline-block
            height: 39px
            padding-left: 46px
            line-height: 39px
            margin: 0 auto
            font-size: 1.4em
            font-weight: bold

         .distance-signage
            text-align: center
            text-shadow: 0 1px 2px #000
            color: #ccc
            font-size: .9em
            margin-top: 15px

            .distance
               background: url(../images/games/attendanceStreak/mileMarker.png) no-repeat
               background-size: 118px 38px
               width: 118px            
               height: 38px
               line-height: 38px
               color: #fff
               margin: 0 auto

            .only
               font-size: .9em
            .bottom-text
               font-size: .8em


         .next-game
            font-size: .8em
            padding-top: 4px
            .label
               color: color-light-gray
               margin-right: 4px

   .tutorial-map
      height: 146px
      background: url(../images/tutorial/Tutorial_map.png) 50% 0 no-repeat
      background-size: 219px 146px
      margin: 8px 0

@media only screen and (-webkit-min-device-pixel-ratio: 1.5)
   #games-attendanceStreak-page
      .info
         background-image: url(../images/games/attendanceStreak/Overlay_Marquee_iPhone@2x.png)!important
         .left-cap
            background-image: url(../images/games/attendanceStreak/Overlay_MarqueeCap_Left_iPhone@2x.png)!important
         .right-cap
            background-image: url(../images/games/attendanceStreak/Overlay_MarqueeCap_Right_iPhone@2x.png)!important
      .bottom
         background-image: url(../images/games/attendanceStreak/Overlay_ButtonHolder_iPhone@2x.png)!important
         .checked-in
            background-image: url(../images/games/attendanceStreak/Overlay_checkbox@2x.png)!important
      .tutorial-map
         background-image: url(../images/tutorial/Tutorial_map@2x.png)!important

      .distance-signage .distance
         background-image: url(../images/games/attendanceStreak/mileMarker@2x.png)
