@import "../lib/mixins"
@import "../lib/variables"

#games-gameFace-page
   .game-face
      background: url(../images/games/gameFace/Gameface_Sprite.png)
      background-size: 370.5px 184px
      width: 184px
      height: 184px
      margin 15px auto 28px
      background-position: 0 0
      &.on
         background-position: -186px -185px
   .team-info
      .team-glass
         position: relative
      .label
         position: absolute
         top: -18px
         left: 0
         width: 100%
         text-align: center
         font-size: 1.4em
         color: color-light-gray
   .unavailable.scrolling-text
      margin-bottom: 20px
   .switch-wrap
      margin-top: 10px
      text-align: center
      .ui-slider
         margin: 0

   .tutorial-gameface-sketch
      height: 151px
      background: url(../images/tutorial/Tutorial_gamefaceIcon.png) 50% 0 no-repeat
      background-size: 191px 151px
      margin: 8px 0 6px

   .tutorial-switch
      height: 54px
      background: url(../images/tutorial/Tutorial_onSwitch.png) 50% 0 no-repeat
      background-size: 163px 54px
      margin: 8px 0

@media only screen and (-webkit-min-device-pixel-ratio: 1.5)
   #games-gameFace-page
      .game-face
         background-image: url(../images/games/gameFace/Gameface_Sprite@2x.png) 
       .tutorial-gameface-sketch
         background-image: url(../images/tutorial/Tutorial_gamefaceIcon@2x.png)
      .tutorial-switch
         background-image: url(../images/tutorial/Tutorial_onSwitch@2x.png)