@import "../lib/mixins"
@import "../lib/variables"

#games-guessTheScore-page
   .ui-content
      padding: 15px 0
   .score
      margin: 10px auto 0
      width: 300px
      .guess-block
         float: left
         width: 50%
         text-align: center
         label
            color: color-light-gray
         .guess-wrap
            background: url(../images/games/guessTheScore/Overlay_PickSetBox.png) 0 50% no-repeat
            background-size: 129px 107px
            position: relative
            width: 129px
            height: 107px
            .value
            input[type=number]
               font-family: JerseyM54, Helvetica, Arial, sans-serif
               font-size: 5em
               width: 129px
               height: 107px
               border: none
               border-radius: 0
               dropshadow: none
               margin: 0
               padding: 0
               text-align: center 
               background: transparent
               line-height: 107px
            .value
               display: none
               position: absolute
               left: 0
               top: 0
               color: color-light-gray
         &.away .guess-wrap
            margin-left: 20px
   .picking
      width: 250px
      margin: 12px auto 0
   .picked
      display: none
      .game-preview
         background: url(../images/games/guessTheScore/Overlay_SubtleShadow.png) 50% -24px no-repeat
         background-size: 290px 60px
         width: 290px
         min-height: 36px
         margin 0 auto
         padding-top: 7px
         .title
            text-align: center
            color: color-light-gray
         .text
            margin-top: 24px
            font-size: .8em

   .tutorial-score-picker
      height: 152px
      background: url(../images/tutorial/Tutorial_scorePickers.png) 50% 0 no-repeat
      background-size: 252px 152px
      margin: 8px 0 6px

@media only screen and (-webkit-min-device-pixel-ratio: 1.5)
   #games-guessTheScore-page
      .guess-wrap
         background-image: url(../images/games/guessTheScore/Overlay_PickSetBox@2x.png)!important
      .game-preview
         background-image: url(../images/games/guessTheScore/Overlay_SubtleShadow@2x.png)!important
      .tutorial-score-picker
         background-image: url(../images/tutorial/Tutorial_scorePickers@2x.png)!important