extend ../layout

block header
   a(href="leaderboard.html", data-icon="back", data-rel="back", data-theme="b") Back
   h1(data-menu-root="leaderboard") Leaderboard

block content
   .team-name(data-bind="text: name")

   .graph-wrapper
      .breakdown(data-bind="chart: breakdown, chartOptions:{'text':'percent'}")
   .graph-base
      .graph-highlight
      span.passion Passion
      span.dedication Dedication
      span.knowledge Knowledge