extend ../layout

block header
   a(data-icon="back", data-rel="back", data-theme="b") Back
   h1(data-menu-root="leaderboard") Leaderboard

block content

   .no-data(data-bind="fadeIn: no_data") No data for this team!
   .chart-full(data-bind="chart: breakdown, visible: !no_data()")