extend ../../layout

block header
   a(href="settings-verified.html", data-icon="back", data-rel="back", data-theme="b") Back
   h1(data-menu-root="profile") Verfication

block content

   .input-container
      .explanation
         | Tell us a little about yourself
        
      input(type="text", name="company", data-bind="value: company", placeholder="company or employer")
      input(type="text", name="description", data-bind="value: description", placeholder="brief description")
      input(type="text", name="link_to_work", data-bind="value: link_to_work, onEnter: send", placeholder="link to work (optional)")
      
      button(data-role="button", type="submit", data-bind="click: send") Send