@import "lib/variables"
@import "lib/mixins"

// Layout
@font-face
   font-family: JerseyM54
   src: url(../fonts/JerseyM54.ttf)

@font-face
   font-family: Journal
   src: url(../fonts/Journal.ttf)

html
   -webkit-overflow-scrolling: touch
   -webkit-touch-callout: none
   -webkit-user-select: none
   -khtml-user-select: none
   -moz-user-select: none
   -ms-user-select: none
   user-select: none
   -webkit-tap-highlight-color:rgba(0,0,0,0)

.clear
   clear: both
   height: 1px

.is-mobile
   min-height: 0

.header
   dropshadow: 0 2px 3px rgba(0,0,0,.5)
   z-index: 3000
   h1
      text-transform: uppercase
   .ui-btn-left
   .ui-btn-right
      top: 5px
   .ui-title
      margin-top: .5em
      margin-bottom: .5em
      font-family: JerseyM54, Helvetica, Arial, sans-serif
      font-size: 1.2em
      text-transform: uppercase

.ui-loader
   line-height: 1.3em
   .ui-icon-loading
      background-position: 50% 50%
      background-repeat: no-repeat
      width: 60px
      height: 60px
      border-radius: 5px
      border: 1px solid #333
   h1
      font-weight: normal

// .fixed-background
//    width: 100%
//    height: 100%
//    position: fixed
//    z-index: 0
//    background: url(../images/Fannect-lightingBackground.jpg) 50% 0 repeat
//    background-size: 720px 1280px

.ui-page
   // -webkit-backface-visibility: hidden;
   background: url(../images/Tilable-Background03.png) 50% 0
   background-size: 500px 50px

.no-padding
   .content
      padding-left: 0
      padding-right: 0
   
.light-background
   background: url(../images/Pattern_FabricKnit.png)
   background-size: 4px 4px

.dark-background
   background: url(../images/Pattern_FabricKnit_Dark.png)
   background-size: 4px 4px

.ui-popup
   h1
      margin: .5em 0!important

.ui-content
   position: relative
   z-index: 1
   overflow: hidden
   -webkit-overflow-scrolling: touch

.background-highlight
   position: absolute
   top: 0
   width: 100%
   height: 100%
   background: url(../images/Lighting-Background.png) 50% 0 no-repeat
   background-size: 320px 480px

.footer
   .ui-navbar
      position: relative
      dropshadow: 0 -2px 3px rgba(0,0,0,.6)
      z-index: 500
   .ui-btn-inner
      padding-top: 38px
   .ui-btn-text
      font-size: .7em
      top: 7px
   .ui-icon.ui-icon-custom
      width: 48px
      height: 32px
      background: url(../images/icons/icons-tab.png) no-repeat
      background-size: 260px 32px
      margin-left: -24px
   .profile-menu .ui-icon
      background-position: -159px 0
   .games-menu .ui-icon
      background-position: -106px 0
   .leaderboard-menu .ui-icon
      background-position: -53px 0
   .connect-menu .ui-icon
      background-position: 0 0
   .settings-menu .ui-icon
      background-position: -212px 0

// Modify jQuery Mobile Elements
.ui-input-search
   margin: -4px -6px 8px -6px
   .ui-btn
      dropshadow: none
      background: transparent
      border: none
      .ui-btn-inner
         background-color: transparent
         box-shadow: none
         border: 0
         margin-top: 2px
      .ui-icon
         dropshadow: none
      .ui-btn-text
         dropshadow: none

// Elements
.scorePointsInfoPopup
   .ui-content
      padding: 15px!important

.scrolling-text
   position: relative
   width: 280px
   height: 24px
   margin: 4px auto
   background: url(../images/Overlay_ScrollBarBase.png) repeat-x 0% 50%
   background-size: 2px 20px
   .text-wrap
      position: absolute
      left: 18px
      right: -2px
      height: 24px
      overflow: hidden
      .text
         position: absolute;
         left: 10px
         font-size: .75em
         text-transform: uppercase
         line-height: 24px
         white-space: nowrap
         &.moving
            transition: left 1s linear
            -webkit-transition: left 1s linear             
            -moz-transition: left 1s linear             
            -o-transition: left 1s linear
   .cover
      position: absolute
      left: -5px
      width: 290px
      height: 24px
      background: url(../images/Overlay_ScrollBarFrame_iPhone.png)
      background-size: 290px 24px
      dropshadow: 0 2px 4px rgba(0,0,0,0.8)
      border-radius: 5px
      border-bottom: 1px solid #444
      z-index: 50

.explanation
   padding: 12px
   border: 1px #ccc solid
   border-radius: 5px
   background-color: rgba(100,100,100,.6)
   margin: 10px 0 20px
   font-weight: normal
   color: #ccc
   font-size: .9em
   text-align: center
   text-shadow: 0 1px 1px #000
   line-height: 1.3em

   strong
      color: #c1272d

   &.left
      text-align: left

.pattern-bg 
   &.has-search
      margin-top: 0px
   li.ui-li
      background: url(../images/Pattern_FabricKnit.png)
      background-size: 4px 4px
      .ui-btn-inner
         background-highlight()
      &.ui-btn-active
         border-color: #CCC
         .ui-btn-inner
            background: rgba(0,0,0,.2)
      .ui-icon-arrow-r
         background: url(../images/icons/TableCell_TableNext.png) 50% 50% no-repeat
         background-size: 10px 14px
         dropshadow: none

.dark-pattern-bg 
   &.has-search
      margin-top: 0px
   li.ui-li
      background: url(../images/Pattern_FabricKnit_Dark.png)
      background-size: 4px 4px
      border-right: 0
      border-left: 0
      .ui-btn-inner
      .ui-btn-inner:hover
         border-top: 0;
         border-bottom: 1px #333 solid
         font-weight: normal
         background-highlight-dark()
      &.ui-btn-active
         border: none
         .ui-btn-inner
            background: rgba(0,0,0,.2)
      .ui-icon-arrow-r
         background: url(../images/icons/UITeamNext.png) 50% 50% no-repeat
         background-size: 10px 14px
         dropshadow: none

.loading-more-indicator
   background: #000 url("../images/icons/ajax-loader.gif") 50% 50% no-repeat
   background-size: 36px 36px
   width: 50px
   height: 50px
   -webkit-border-radius: 5px
   -moz-border-radius: 5px
   border-radius: 5px
   border: 1px solid #333
   opacity: 0.8
   margin: 30px auto 0

.fans
   .fan
      .text-wrapper
         display: table
         padding-left: 55px
         height: 43px
     
      .fan-name
         display: table-cell
         vertical-align: middle
         font-size: 1.3em
         white-space: normal

      .right-icon
         position: absolute
         right: 10px
         top: 50% 
         width: 34px            
         height: 62px
         margin-top: -31px
         &.rank
            background: url(../images/leaderboard/Overlay_LeaderboardRank.png) 50% 50% no-repeat
            background-size: 27px 28px
            font-family: JerseyM54, Helvetica, Arial, sans-serif
            text-align: center
            font-size: 1em
            line-height: 60px
            color: color-dark-red
            padding-left: 2px
         &.accept
            background: url(../images/icons/Button_Delete.png) 50% 50% no-repeat
            background-size: 19px 19px
.leaderboard 
   .text-wrapper
      padding-right: 34px

.image-wrap
   position: absolute
   margin-top: -21.5px
   width: 43px
   height: 43px
   top: 50%
   border-radius: 5px
   .profile-image
      width: 43px
      height: 43px
      border-radius: 5px
   .cover
      position: absolute
      top: 0
      left: 0
      width: 43px
      height: 43px
      border-radius: 5px
      dropshadow: inset 1px 2px 3px rgba(0,0,0,0.6), 0 1px 2px rgba(255, 255, 255, 0.8), 0 -1px 1px rgba(0, 0, 0, 0.8)
   .verified-icon
      position: absolute
      right: -13px
      bottom: -8px

.invite-list
   .ui-link-inherit
      padding-right: 42px!important
   .image-wrap
      left: 40px

   .fan-name
      font-size: 1.3em
      padding-left: 84px
      white-space: normal
   .teams
      padding: 2px 0 0 84px 
      font-size: .7em
      font-weight: normal
      white-space: normal
      .diff
         color: #999
   .left-icon
      position: absolute
      top: 0
      left: -2px
      bottom: 0
      width: 38px            
      margin: 0
      &.cancel
         background: url(../images/icons/Button_Delete.png) 50% 50% no-repeat
         background-size: 19px 19px
   .right-icon
      position: absolute
      right: 5px
      top: 0 
      width: 34px            
      bottom: 0
      &.accept
         background: url(../images/icons/Tablecell_greenCheckmark.png) 50% 50% no-repeat
         background-size: 30px 30px
         &.ui-btn-active
            background: url(../images/icons/Tablecell_blueCheckmark.png) 50% 50% no-repeat
            border: 0
   .active
      .right-icon.accept
         background: url(../images/icons/Tablecell_blueCheckmark.png) 50% 50% no-repeat
         background-size: 30px 30px

.team-list
   .team-item
      .right-icon
         position: absolute
         right: 10px
         top: 0 
         width: 34px            
         height: 42px
         &.rank
            background: url(../images/leaderboard/Overlay_LeaderboardRank.png) 50% 50% no-repeat
            background-size: 27px 28px
            font-family: JerseyM54, Helvetica, Arial, sans-serif
            text-align: center
            font-size: 1em
            line-height: 40px
            color: color-dark-red
            padding-left: 2px

.share-wrap
   margin: 20px auto 0
   width: 274px
   text-shadow: 0 2px 1px #fff
   color: #888
   font-size: 18px
   text-align: center

   .sub-title
      font-size: 28px
   .share-button
      background: url(../images/ShareButtons.png) no-repeat
      background-size: 553px 186px
      width: 275px
      height: 62px
      margin: 6px 0
      border: 0
      cursor: pointer
      &.sms
         background-position: 0 0
         &.ui-btn-active
            background-position: -279px 0
      &.email
         background-position: 0 -62px
         &.ui-btn-active
            background-position: -279px -62px
      &.twitter
         background-position: 0 -124px
         &.ui-btn-active
            background-position: -279px -124px

   p
      margin-top: 15px
      
@media only screen and (-webkit-min-device-pixel-ratio: 1.5)
   .ui-page
      background-image: url(../images/Tilable-Background03@2x.png)
   .footer .ui-icon.ui-icon-custom
      background-image: url(../images/icons/icons-tab@2x.png)
   .scrolling-text
      background-image: url(../images/Overlay_ScrollBarBase@2x.png)
      .cover
         background-image: url(../images/Overlay_ScrollBarFrame_iPhone@2x.png)
   .light-background
      background-image: url(../images/Pattern_FabricKnit@2x.png)
   .pattern-bg li.ui-li
      background-image: url(../images/Pattern_FabricKnit@2x.png)
      .ui-icon-arrow-r
         background-image: url(../images/icons/TableCell_TableNext@2x.png)

   .dark-background
      background-image: url(../images/Pattern_FabricKnit_Dark@2x.png)
   .dark-pattern-bg li.ui-li
      background-image: url(../images/Pattern_FabricKnit_Dark@2x.png)
      .ui-icon-arrow-r
         background-image: url(../images/icons/UITeamNext@2x.png)

   .icon.gamecell
      background-image: url(../images/icons/icons-gamecell@2x.png)

   .fans
   .team-list
   .invite-list
      .cancel
         background-image: url(../images/icons/Button_Delete@2x.png)!important
      .accept
         background-image: url(../images/icons/Tablecell_greenCheckmark@2x.png)!important
      .accept.ui-btn-active
         background-image: url(../images/icons/Tablecell_blueCheckmark@2x.png)!important
      .rank
         background-image: url(../images/leaderboard/Overlay_LeaderboardRank@2x.png)!important
      .active .accept
         background-image: url(../images/icons/Tablecell_blueCheckmark@2x.png)!important
   .share-button
      background-image: url(../images/ShareButtons@2x.png)!important

@import "elements/charts"
@import "elements/swipeSlider"
@import "elements/tutorial"
@import "elements/verified"

@import "pages/login"
@import "pages/profile"
@import "pages/profile/selectTeam"
@import "pages/games"
@import "pages/games/attendanceStreak"
@import "pages/games/gameFace"
@import "pages/games/guessTheScore"
@import "pages/leaderboard"
@import "pages/connect"
@import "pages/settings"
@import "pages/share"


@import "lib/fixes"