@import "lib/variables"
@import "lib/mixins"

// Layout

@font-face
   font-family: JerseyM54
   src: url(../fonts/JerseyM54.ttf)

@font-face
   font-family: Journal
   src: url(../fonts/Journal.ttf)

.clear
   clear: both
   height: 1px

.header
   dropshadow: 0 2px 3px rgba(0,0,0,.5)
   z-index: 3000
   h1
      text-transform: uppercase
   .ui-btn-left
   .ui-btn-right
      top: 5px
   .ui-title
      margin-top: .5em
      margin-bottom: .5em
      font-family: JerseyM54, Helvetica, Arial, sans-serif
      font-size: 1.2em
      text-transform: uppercase

.ui-page
   background: url(../images/Tilable-Background.png) 50% 0
   background-size: 50px 50px
   overflow: hidden

.ui-popup
   h1
      margin: .5em 0!important

.ui-content
   overflow: hidden
   -webkit-overflow-scrolling: touch

.background-highlight
   position: absolute
   top: 0
   width: 100%
   height: 100%
   background: url(../images/Lighting-Background.png) 50% 0 no-repeat
   background-size: 320px 480px

.footer
   .ui-navbar
      position: relative
      dropshadow: 0 -2px 3px rgba(0,0,0,.6)
      z-index: 500
   .ui-btn-inner
      padding-top: 38px
   .ui-btn-text
      font-size: .7em
      top: 7px
   .ui-icon.ui-icon-custom
      width: 48px
      height: 32px
      background: url(../images/icons/icons-tab.png) no-repeat
      background-size: 260px 32px
      margin-left: -24px
   .profile-menu .ui-icon
      background-position: -159px 0
   .games-menu .ui-icon
      background-position: -106px 0
   .leaderboard-menu .ui-icon
      background-position: -53px 0
   .connect-menu .ui-icon
      background-position: 0 0
   .settings-menu .ui-icon
      background-position: -212px 0

// Elements
.team-glass
   font-size: .7em
   background: url(../images/games/Overlay_TeamGlass_iPhone.png)
   background-size: 134px 43px
   width: 110px
   height: 25px
   padding: 8px 12px 10px 12px
   text-align: center
   .team
      margin-bottom: 2px
   .record
      color: color-light-gray
      font-size: .9em

.scrolling-text
   position: relative
   width: 280px
   height: 24px
   margin: 4px auto
   background: url(../images/Overlay_ScrollBarBase.png) repeat-x 0% 50%
   background-size: 2px 20px
   .text-wrap
      position: absolute
      left: 18px
      right: -2px
      height: 24px
      overflow: hidden
      .text
         position: absolute;
         left: 10px
         font-size: .75em
         text-transform: uppercase
         line-height: 24px
         white-space: nowrap
   .cover
      position: absolute
      left: -5px
      width: 290px
      height: 24px
      background: url(../images/Overlay_ScrollBarFrame_iPhone.png)
      background-size: 290px 24px
      dropshadow: 0 2px 4px rgba(0,0,0,0.8)
      border-radius: 5px
      z-index: 50

.pattern-bg 
   li.ui-li
      background: url(../images/Pattern_FabricKnit.png)
      background-size: 4px 4px
      .ui-btn-inner
         background-highlight()
      &.ui-btn-active
         border-color: #CCC
         .ui-btn-inner
            background: rgba(0,0,0,.2)
      .ui-icon-arrow-r
         background: url(../images/icons/TableCell_TableNext.png) 50% 50% no-repeat
         background-size: 10px 14px
         dropshadow: none


.fans
   .fan
      .image-wrap
         position: relative
         width: 43px
         height: 43px
         float: left
         border-radius: 5px
         .profile-image
            width: 43px
            height: 43px
            border-radius: 5px
         .cover
            position: absolute
            top: 0
            left: 0
            width: 43px
            height: 43px
            border-radius: 5px
            dropshadow: inset 1px 2px 3px rgba(0,0,0,0.6), 0 1px 2px rgba(255, 255, 255, 0.8), 0 -1px 1px rgba(0, 0, 0, 0.8)
      .fan-info
         margin: -2px 0 0 12px
         float: left
         .name
            font-size: 1.5em
            font-weight: bold
         .team
            font-size: .9em
            font-weight: lighter
            margin: 3px 0 4px 0
            color: color-red
      .left-icon
         width: 38px            
         height: 43px
         float: left
         margin: 0 2px 0 -12px
         &.cancel
            background: url(../images/icons/Button_Delete.png) 50% 50% no-repeat
            background-size: 19px 19px
      .right-icon
         position: absolute
         right: 10px
         top: 0 
         width: 34px            
         height: 63px
         &.rank
            background: url(../images/leaderboard/Overlay_LeaderboardRank.png) 50% 50% no-repeat
            background-size: 27px 28px
            font-family: JerseyM54, Helvetica, Arial, sans-serif
            text-align: center
            font-size: 1.1em
            line-height: 63px
            color: color-dark-red
            padding-left: 2px
         &.accept
            background: url(../images/icons/Button_Delete.png) 50% 50% no-repeat
            background-size: 19px 19px


.tutorial-link .ui-icon.ui-icon-custom
   background: url(../images/tutorial/InfoButton@2x.png) no-repeat
   background-size: 18px 18px

.tutorial
   font-family: Journal, Helvetica, Arial, sans-serif
   position: fixed
   padding-top: 60px
   top: 0
   width: 100%
   height: 100%
   z-index: 2000
   background: rgba(0,0,0,.5)
   display: none
   .tutorial-slider
      height: 344px
      &.one
         width: 100%
         .tutorial-item
            width: 100%
      &.two
         width: 200%
         .tutorial-item
            width: 50%
      &.three
         width: 300%
         .tutorial-item
            width: 33.33333333%
      &.four
         width: 400%
         .tutorial-item
            width: 25%
      &.five
         width: 500%
         .tutorial-item
            width: 20%
   .tutorial-item
      float: left
      height: 100%
      background: url(../images/tutorial/Tutorial_chalkboard.png) 50% 0 no-repeat
      background-size: 304px 344px
      font-size: 1.3em
      line-height: 1.1em
      text-align: center
   .tutorial-content
      position: relative
      margin: 0 auto
      padding: 22px 16px 22px
      width: 258px
      height: 307px
   .tutorial-close
      position: absolute
      background: url(../images/tutorial/Tutorial_exitButton.png) 50% 50% no-repeat
      background-size: 27px 31px
      top: 4px
      right: 0px
      width: 36px
      height: 36px
      cursor: pointer
      &:active
         background-image: url(../images/tutorial/tutorial_redX.png)
   .tutorial-title
      font-size: 1.3em
      text-align: center
   .tutorial-next
   .tutorial-prev
      position: absolute
      bottom: 25px
      width: 30px
      height: 21px
      background-size: 30px 21px
      cursor: pointer
   .tutorial-next
      right: 10px
      background-image: url(../images/tutorial/Tutorial_nextArrow.png)
   .tutorial-prev
      left: 10px
      background-image: url(../images/tutorial/Tutorial_backArrow.png)
   .tutorial-pos-indicator
      position: absolute
      bottom: 0
      left: 50%
      width: 96px
      height: 67px
      margin-left: -52.5px 
      background: url(../images/tutorial/Tutorial_dotShelf.png) 0 0 no-repeat
      background-size: 105px 67px
      .dot
         display: inline-block
         position: relative
         top: 15px
         width: 12px
         height: 12px
         background: url(../images/tutorial/Tutorial_openPageIndicator.png) 50% 50% no-repeat
         background-size: 12px 12px
         &.active
            background-image: url(../images/tutorial/Tutorial_currentPageIndicator.png)
            background-size: 9px 9px
   p.medium
      font-size: 1.2em
      line-height: 1.1em
      margin-bottom: 2px
   p.large
      font-size: 1.4em
      line-height: 1.3em
      margin-bottom: 4px
   ol
      position:relative
      left: 30px
      list-style: decimal outside
      text-align: left
   .tutorial-submit-button
      height: 55px
      background: url(../images/tutorial/Tutorial_submitButton.png) 50% 0 no-repeat
      background-size: 225px 55px
      margin-top: 8px
// Icons
.icon
   &.settings
      width: 29px
      height: 29px
      background: url(../images/icons/icons-settings.png) no-repeat;
      background-size: 301px 29px

      &.full-tilt-ventures
         background-position: 0 0
      &.rade-eecles
         background-position: -34px 0
      &.fannect
         background-position: -68px 0
      &.account
         background-position: -102px 0
      &.more-apps
         background-position: -136px 0
      &.privacy
         background-position: -170px 0
      &.rate-it
         background-position: -204px 0
      &.technical-support
         background-position: -238px 0
      &.tell-friend
         background-position: -204px 0

.icon-gamecell
   width: 72px
   height: 72px
   background: url(../images/icons/icons-gamecell.png) no-repeat
   background-size: 303px 72px
         
   &.attendence-streak
      background-position: 0 0
   &.game-face
      background-position: -77px 0
   &.guess-the-score
      background-position: -154px 0
   &.locked
      background-position: -231px 0
      
@media only screen and (-webkit-min-device-pixel-ratio: 1.5)
   .ui-page
      background-image: url(../images/Tilable-Background@2x.png)
   .background-highlight
      background-image: url(../images/Lighting-Background@2x.png)
   .team-glass
      background-image: url(../images/games/Overlay_TeamGlass_iPhone@2x.png)
   .footer .ui-icon.ui-icon-custom
      background-image: url(../images/icons/icons-tab@2x.png)
   .scrolling-text
      background-image: url(../images/Overlay_ScrollBarBase@2x.png)
      .cover
         background-image: url(../images/Overlay_ScrollBarFrame_iPhone@2x.png)
   .pattern-bg li.ui-li
      background-image: url(../images/Pattern_FabricKnit@2x.png)
      .ui-icon-arrow-r
         background-image: url(../images/icons/TableCell_TableNext@2x.png)

   .icon.gamecell
      background-image: url(../images/icons/icons-gamecell@2x.png)

   .fans
      .cancel
         background-image: url(../images/icons/Button_Delete@2x.png)!important
      .accept
         background-image: url(../images/icons/Button_Delete@2x.png)!important
      .rank
         background-image: url(../images/leaderboard/Overlay_LeaderboardRank@2x.png)!important

   .tutorial-link .ui-icon.ui-icon-custom
      background-image: url(../images/tutorial/InfoButton@2x.png)
   .tutorial-item
      background-image: url(../images/tutorial/Tutorial_chalkboard@2x.png)!important
   .tutorial-close
      background-image: url(../images/tutorial/Tutorial_exitButton@2x.png)!important
      &:active
         background-image: url(../images/tutorial/tutorial_redX@2x.png)!important
   .tutorial-next
         background-image: url(../images/tutorial/Tutorial_nextArrow@2x.png)!important
   .tutorial-prev
         background-image: url(../images/tutorial/Tutorial_backArrow@2x.png)!important
   .tutorial-pos-indicator
      background-image: url(../images/tutorial/Tutorial_dotShelf@2x.png)!important
      .dot
         background-image: url(../images/tutorial/Tutorial_openPageIndicator@2x.png)!important
         &.active
            background-image: url(../images/tutorial/Tutorial_currentPageIndicator@2x.png)!important
   .tutorial-submit-button
      background-image: url(../images/tutorial/Tutorial_submitButton@2x.png)!important
      
@import "pages/profile"
@import "pages/games"
@import "pages/games/attendanceStreak"
@import "pages/games/gameFace"
@import "pages/games/guessTheScore"
@import "pages/leaderboard"
@import "pages/connect"
@import "pages/settings"

@import "lib/fixes"