extend layout

block header
   h1(data-menu-root="connect") Connect
   a.ui-btn-right(href="connect-addToRoster.html", data-role="button", data-icon="plus", data-transition="slide") Add

block content

   .build-your-team(data-bind="fadeIn: roster_fans() == null || roster_fans().length <= 0")
      .gray-connect-icon
      .title Build your team!
      .text Tap the "Add" button to add more of your team's fans to your roster.

   ul.pattern-bg(data-role="listview", data-bind="template: { name:'connect-fan-template', foreach: roster_fans }, listviewUpdate: roster_fans, visible: roster_fans().length > 0").fans
