extend layout

block header
   h1(data-menu-root="connect") Connect
   a.ui-btn-right(href="share.html", data-role="button", data-theme="b", data-transition="slide") Share

block content

   //- .icon-wrap
   a.roster-icon-wrap(href="connect-roster.html", data-transition="slide", data-bind="showClick:true, duration: 2550")
      span.icon-connect.roster
      span.label Roster

   a.huddle-icon-wrap(href="connect-huddle.html", data-transition="slide", data-bind="showClick:true, duration: 2550")
      span.icon-connect.huddle
      span.label Huddle
