extend layout

block header
   h1(data-menu-root="connect") Connect

block content
   
   input(type="search", data-bind="value: query, valueUpdate: ['afterkeydown'], onEnter: load")

   //- .build-your-team(data-bind="fadeIn: show_message(), hideInstant: true")
   //-    .gray-connect-icon
   //-    .title Build your team!
   //-    .text Tap the "Add" button to add more of your team's fans to your roster.

   ul.pattern-bg.has-search(data-role="listview", data-bind="template: { name:'connect-fan-template', foreach: fans }, listviewUpdate: fans, visible: fans().length > 0").fans
   .loading-more-indicator(data-bind="visible: loading_more", style="display:none;")