extend layout

block header
   h1(data-menu-root="connect") Connect

block content
   
   input(type="search", data-bind="value: query, valueUpdate: ['afterkeydown'], onEnter: load")

   ul.pattern-bg.has-search(data-role="listview", data-bind="template: { name:'connect-fan-template', foreach: fans }, listviewUpdate: fans, visible: fans().length > 0").fans
   .loading-more-indicator(data-bind="visible: loading_more", style="display:none;")