extend layout

block header
   a(data-icon="back", data-rel="back", data-theme="b") Back
   h1 Create Account

block content
   form.input-container(data-bind="submit: createAccount", data-ajax="false")
      input(type="text", name="firstname", data-bind="value: first_name", , placeholder="first name")
      input(type="text", name="lastname", data-bind="value: last_name", placeholder="last name")
      input(type="text", name="email", data-bind="value: email", placeholder="email")
      input(type="password", name="password", data-bind="value: password", placeholder="password")
      input(type="password", name="password", data-bind="value: confirm_password", placeholder="confirm")
      
      button(data-role="button", type="submit") Create Account

block footer