extend layout

block header
   h1(data-menu-root="games") Games

block content

   #lockedMessage(data-role="popup", style="width:260px;", class="ui-corner-all", data-overlay-theme="a", data-theme="a", data-position-to="window")
      .ui-corner-top(data-role="header", data-theme="b")
         h1 Locked Game
      .ui-corner-bottom.ui-content(data-role="content", data-theme="a")
         p More games will be unlocked as fanbases grow! Share with your friends to help us out!
         a(data-bind="click: showShare, showClick: true", data-role="button") Share
         a(data-role="button", href="javascript:fannect.nav.closePopup()", data-bind="showClick:true", data-theme="c") Not Now


   ul.pattern-bg(data-role="listview")
      li
         a(href="games-attendanceStreak.html", data-transition="slide")
            .icon-gamecell.attendance-streak
            .text
               .inner
                  span.game-name Attendance Streak
      li
         a(href="games-guessTheScore.html", data-transition="slide")
            .icon-gamecell.guess-the-score
            .text
               .inner
                  span.game-name Guess The Score
      li
         a(href="games-gameFace.html", data-transition="slide")
            .icon-gamecell.game-face
            .text
               .inner
                  span.game-name Gameface
      li
         a(href="games-photo-spiritWear.html", data-transition="slide")
            .icon-gamecell.spirit-wear
            .text
               .inner
                  span.game-name Spirit Wear
      li
         a(href="games-photo-gamedayPics.html", data-transition="slide")
            .icon-gamecell.gameday-pics
            .text
               .inner
                  span.game-name Gameday Pics
      li
         a(href="games-photo-photoChallenge.html", data-transition="slide")
            .icon-gamecell.photo-challenge
            .text
               .inner
                  span.game-name Photo Challenge
      li
         a(href="games-photo-pictureWithPlayer.html", data-transition="slide")
            .icon-gamecell.picture-with-player
            .text
               .inner
                  span.game-name Picture with a Player
      li.locked
         a(href="#lockedMessage", data-rel="popup", data-changeHash="false")
            .icon-gamecell.locked
            .text
               .inner
                  span.game-name Watch Party
      li.locked
         a(href="#lockedMessage", data-rel="popup")
            .icon-gamecell.locked
            .text
               .inner
                  span.game-name Impact Players
      li.locked
         a(href="#lockedMessage", data-rel="popup")
            .icon-gamecell.locked
            .text
               .inner
                  span.game-name Team Trivia
      li.locked
         a(href="#lockedMessage", data-rel="popup")
            .icon-gamecell.locked
            .text
               .inner
                  span.game-name Tailgate King

