extend layout

block header
   h1(data-menu-root="games") Games

block content
   ul.pattern-bg(data-role="listview")
      li
         a(href="games-guessTheScore.html", data-transition="slide")
            .icon-gamecell.guess-the-score
            .text
               .inner
                  span.game-name Guess The Score
      li
         a(href="games-attendanceStreak.html", data-transition="slide")
            .icon-gamecell.attendance-streak
            .text
               .inner
                  span.game-name Attendance Streak
      li
         a(href="games-gameFace.html", data-transition="slide")
            .icon-gamecell.game-face
            .text
               .inner
                  span.game-name Gameface
      li.locked
         a
            .chain
            .icon-gamecell.locked
            .text
               .inner
                  span.game-name Watch Party
      li.locked
         a
            .chain
            .icon-gamecell.locked
            .text
               .inner
                  span.game-name Gameday Pics
      li.locked
         a
            .chain
            .icon-gamecell.locked
            .text
               .inner
                  span.game-name Impact Players
      li.locked
         a
            .chain
            .icon-gamecell.locked
            .text
               .inner
                  span.game-name Team Trivia
      li.locked
         a
            .chain
            .icon-gamecell.locked
            .text
               .inner
                  span.game-name Tailgate King
      li.locked
         a
            .chain
            .icon-gamecell.locked
            .text
               .inner
                  span.game-name Spirit Wear

