extend layout

block header
   h1 SIGN IN
   a.ui-btn-right(href="createAccount.html", data-role="button", data-transition="slide") New Account

block content
   .fannect-logo

   form
      label(for="email") Email
      input(type="text", name="email", id="email", data-bind="value: email")
      label(for="password") Password
      input(type="password", name="password", id="password", data-bind="value: password")

      button(data-role="button", data-bind="click: login") Login

block footer