extend layout

block header
   h1 Sign In
   a.ui-btn-right(href="createAccount.html", data-role="button", data-transition="slide", data-theme="b") New Account

block content
   .fannect-logo

   form(data-bind="submit: login", data-ajax="false")
      label(for="email") Email
      input(type="text", name="email", id="email", data-bind="value: email")
      label(for="password") Password
      input(type="password", name="password", id="password", data-bind="value: password")

      button(data-role="button", type="submit", data-bind="fadeIn: !signing_in()") Login
      .loading(data-role="fadeIn: signing_in", style="display:none;")


block footer