extend layout

block header
   h1(data-menu-root="none") Sign In
   
block content
   .logo

   .input-container
   
      input(type="email", pattern="[^ @]*@[^ @]*", name="email", id="email", data-bind="valueWithInit: email", placeholder="email")
      input(type="password", name="password", id="password", data-bind="valueWithInit: password, onEnter: login", placeholder="password")
      .button-wrap
         a(data-role="button", type="submit", data-theme="a", aria-disabled="false", data-bind="click: login, showClick:true") Login
      
      .or-separator

      .sub-container
         a(href="createAccount.html", data-role="button", data-transition="slide", data-theme="b", data-mini="true") Create Account
         a(href="resetPassword.html", data-role="button", data-transition="slide", data-theme="b", data-mini="true") Reset Password
    
block footer