doctype 5
html
   head
      title Fannect
      meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
      meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no")
      meta(name="apple-mobile-web-app-capable", content="yes")
      link(rel="apple-touch-icon-precomposed", sizes="114x114", href="res/icon-114.png")
      link(rel="apple-touch-icon-precomposed", sizes="72x72", href="res/icon-72.png")

      link(rel="stylesheet", href="css/lib/normalize.css")
      link(rel="stylesheet", href="css/lib/jquerymobile.css")
      link(rel="stylesheet", href="css/lib/fannect.min.css")
      link(rel="stylesheet", href="css/skin.css")

      script(src="js/d3.js")
      script(src="js/tree.js")
      script(src="http://maps.googleapis.com/maps/api/js?libraries=geometry&sensor=false")

      //- script(src="https://trigger.io/catalyst/target/target-script-min.js#31B2B998-D667-4E31-87E0-684BED6EDE72")

   - var viewDir = locals.settings.views;
   - var view = locals.filename.replace(viewDir, "").replace(".jade", "").replace(/^[\\\/]/g, "");
   - var pageId = view.replace(/[\\\/]/g, "-") + "-page";

   body
      div(id=pageId, data-role="page", data-theme="a")
         .header(data-role="header", data-position="fixed", data-tap-toggle="false")
            block header

         .content(data-role="content")
            block content

         .tutorial
            block tutorial

         .footer(data-role="footer", data-id="footer", data-position="fixed", data-tap-toggle="false")
            block footer
               div(data-role="navbar")
                  ul
                     li: a.profile-menu(href="profile.html", data-icon="custom", data-transition="none") Profile
                     li: a.games-menu(href="games.html", data-icon="custom", data-transition="none") Games
                     li: a.leaderboard-menu(href="leaderboard.html", data-icon="custom", data-transition="none") Leaderboard
                     li: a.connect-menu(href="connect.html", data-icon="custom", data-transition="none") Connect
                     //- li: a.settings-menu(href="settings.html", data-icon="custom") Settings

      script(id="connect-fan-template", type="text/html")
         li.fan
            a(data-bind="click: $parent.selectUser, listviewClick: true")
               .image-wrap
                  img.profile-image(data-bind="attr: { 'src': profile_image_url }")
                  .cover
               .text-wrapper
                  .fan-name(data-bind="text: name")

      script(id="invite-fan-template", type="text/html")
         li.invite-item
            a(data-bind="click: $parent.selectUser, listviewClick: true")
               .left-icon.cancel(data-bind="click: $parent.removeInvite, clickBubble: false")
               .image-wrap
                  img.profile-image(data-bind="attr: { 'src': profile_image_url }")
                  .cover
               .fan-name(data-bind="text: name")
               .teams(data-bind="html: teams_text")
                  //- span.team-name(data-bind="text: $data")
               .right-icon.accept

      script(id="leaderboard-fan-template", type="text/html")
         li.fan(data-icon="false")
            a(data-bind="click: $parent.selectUser, listviewClick: true")
               .image-wrap
                  img.profile-image(data-bind="attr: { 'src': profile_image_url }")
                  .cover
               .text-wrapper
                  .fan-name(data-bind="text: name")
               .right-icon.rank(data-bind="text: $index() + 1")


      script(id="leaderboard-team-template", type="text/html")
         li.team-item(data-icon="false")
            a(data-bind="click: $parent.selectUser, listviewClick: true")
               .team-name(data-bind="text: full_name")
               .right-icon.rank(data-bind="text: $index() + 1")