doctype 5
html
   head
      title Fannect
      meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
      meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no")
      meta(name="apple-mobile-web-app-capable", content="yes")
      link(rel="apple-touch-icon-precomposed", sizes="114x114", href="res/icon-114.png")
      link(rel="apple-touch-icon-precomposed", sizes="72x72", href="res/icon-72.png")

      if (global.css)
         != css("lib/normalize")
         != css("lib/jquerymobile.css")
         != css("lib/fannect")
         != css("skin")

      else
         link(rel="stylesheet", href="css/lib/normalize.css")
         link(rel="stylesheet", href="css/lib/jquerymobile.css")
         link(rel="stylesheet", href="css/lib/fannect.css")
         link(rel="stylesheet", href="css/skin.css")

      if (global.js)
         != js("tree")

      else
         script(src="phonegap.js")
         script(src="js/tree.js")

   - var viewDir = locals.settings.views;
   - var view = locals.filename.replace(viewDir, "").replace(".jade", "").replace(/^[\\\/]/g, "");
   - var pageId = view.replace(/[\\\/]/g, "-") + "-page";

   body
      div(id=pageId, data-role="page", data-theme="a")
         //- .background-highlight
         .header(data-role="header", data-position="fixed", data-tap-toggle="false")
            block header

         .content(data-role="content")
            block content

         .tutorial
            block tutorial

         .footer(data-role="footer", data-id="footer", data-position="fixed", data-tap-toggle="false")
            block footer
               div(data-role="navbar")
                  ul
                     li: a.profile-menu(href="profile.html", data-icon="custom") Profile
                     li: a.games-menu(href="games.html", data-icon="custom") Games
                     li: a.leaderboard-menu(href="leaderboard.html", data-icon="custom") Leaderboard
                     li: a.connect-menu(href="connect.html", data-icon="custom") Connect
                     li: a.settings-menu(href="settings.html", data-icon="custom") Settings

      script(id="connect-fan-template", type="text/html")
         li.fan
            a(data-bind="attr: { 'href': profile_url }", data-transition="slide")
               .image-wrap
                  img.profile-image(data-bind="attr: { 'src': profile_image_url }")
                  .cover
               .fan-info
                  .name(data-bind="text: name")
                  .team(data-bind="text: team")

      script(id="invitation-fan-template", type="text/html")
         li.fan(data-icon="false")
            a(data-bind="attr: { 'href': profile_url }", data-transition="slide")
               .left-icon.cancel
               .image-wrap
                  img.profile-image(data-bind="attr: { 'src': profile_image_url }")
                  .cover
               .fan-info
                  .name(data-bind="text: name")
                  .team(data-bind="text: team")
               .right-icon.accept

      script(id="leaderboard-fan-template", type="text/html")
         li.fan(data-icon="false")
            a(data-bind="attr: { 'href': profile_url }", data-transition="slide")
               .image-wrap
                  img.profile-image(data-bind="attr: { 'src': profile_image_url }")
                  .cover
               .fan-info
                  .name(data-bind="text: name")
                  .team(data-bind="text: team")
               .right-icon.rank(data-bind="text: rank")