extend layout

block header
   h1(data-menu-root="leaderboard") Leaderboard

block content
   ul.pattern-bg(data-role="listview")
      li(data-bind="visible: is_college")
         a(href="leaderboard-conference.html", data-transition="slide") View by Conference
      li(data-bind="visible: !is_college()")
         a(href="leaderboard-league.html", data-transition="slide") View by League
      li
         a(href="leaderboard-breakdown.html", data-transition="slide") Points Breakdown
      li
         a(href="leaderboard-overallFans.html", data-transition="slide") Overall Fans
      li
         a(href="leaderboard-myRoster.html", data-transition="slide") My Roster
