extend layout

block header
   h1(data-menu-root="leaderboard") Leaderboard

block content
   ul.pattern-bg(data-role="listview")
      li
         a(href="leaderboard-teams.html", data-transition="slide") Teams
      li
         a(href="leaderboard-users.html", data-transition="slide") Users
