extend layout

block header
   h1 Sign In

block content

   a(data-bind="showClick: true, click: linkTwitter", data-role="button") Link Twitter
   a(data-role="button", data-bind="showClick: true, click: skip") Skip

block footer