extend layout

block header
   h1 Sign In

block content

   a(data-bind="showClick: true, click: linkTwitter", data-role="button") Link Twitter
   a(data-role="button", href="profile-selectTeam-chooseSport.html?hide_back=true", data-transition="slide") Skip

block footer