extend layout

block header
   h1 Accounts

block content

   p Link up with your Social Media accounts below to enhance your Fannect experience!

   a.link-button.facebook(data-bind="showClick: true, click: linkFacebook, visible: !facebook_linked()") Link Facebook
   a.link-button.facebook(data-bind="showClick: true, click: unlinkFacebook, visible: facebook_linked") Unlink Facebook

   a.link-button.twitter(data-bind="showClick: true, click: linkTwitter, visible: !twitter_linked()") Link Twitter
   a.link-button.twitter(data-bind="showClick: true, click: unlinkTwitter, visible: twitter_linked") Unlink Twitter
   
   a.link-button.continue(data-bind="showClick: true", href="welcome.html", data-transition="slide") Continue
