extend layout

block header
   h1 Sign In

block content

   a(data-bind="showClick: true, click: linkFacebook" ) Link Facebook
   a(href="profile-selectTeam.html", data-role="button", data-transition="slide") Skip

block footer