extend layout

block header
   h1(data-menu-root="profile") Profile
   a.ui-btn-left(href="profile-invitations.html", data-role="button") Invitations
   a.ui-btn-right(href="profile-editBio.html", data-role="button", data-transition="slide") Edit

   #changeProfileImagePopup(data-role="popup", style="width:260px;", class="ui-corner-all", data-overlay-theme="a", data-theme="a")
      .ui-corner-top(data-role="header", data-theme="b")
         h1 Change Profile Picture
      .ui-corner-bottom.ui-content(data-role="content", data-theme="a")
         a(href="#", data-role="button", data-bind="click: takeImage, visible: window.fannect.isPhoneGap()") Take Picture
         a(href="#", data-role="button", data-bind="click: chooseImage, visible: window.fannect.isPhoneGap()") Choose from Library
         a(href="#", data-role="button") Choose from Web
         a(href="#", data-role="button", data-rel="back", data-theme="c", data-bind="click: cancelImagePicking") Cancel

   #changeTeamImagePopup(data-role="popup", style="width:260px;", class="ui-corner-all", data-overlay-theme="a", data-theme="a")
      .ui-corner-top(data-role="header", data-theme="b")
         h1 Change Team Picture
      .ui-corner-bottom.ui-content(data-role="content", data-theme="a")
         a(href="#", data-role="button", data-bind="click: takeImage, visible: window.fannect.isPhoneGap()") Take Picture
         a(href="#", data-role="button", data-bind="click: chooseImage, visible: window.fannect.isPhoneGap()") Choose from Library
         a(href="#", data-role="button", data-bind="click: chooseWebImage") Choose from Web
         a(href="#", data-role="button", data-rel="back", data-theme="c", data-bind="click: cancelImagePicking") Cancel


block content
   .profile-images
      .team-wrap(data-bind="click: changeTeamImage, clickBubble: false")
         img(data-bind="attr: {src:team_image}, visible: team_image().length > 0")
         .team-hint.ui-corner-all
         .cover
      .user-wrap(data-bind="click: changeUserImage, clickBubble: false")
         img(data-bind="attr: {src:profile_image}, visible: profile_image().length > 0", width="140", height="140")
         .user-hint.ui-corner-all
         .cover

   .name(data-bind="text: name")

   .team-name-wrap
      .team(data-bind="text: favorite_team")
      .icon

   .score-wrap
      .score.roster
         .label Roster
         .value(data-bind="text: roster")
      .score.points
         .label Points
         .value(data-bind="text: points")
      .score.rank
         .label Rank
         .value(data-bind="text: rank")

   .bio
      .separator
      .text(data-bind="text: bio")
   .bragging-rights
      .separator
      .text(data-bind="text: bragging_rights")
   .game-day-spot
      .separator
      .text(data-bind="text: game_day_spot") 
   
block tutorial
   .tutorial-slider.four
      .tutorial-item
         .tutorial-content
            .tutorial-close
            .tutorial-next
            .tutorial-pos-indicator
               .dot.active
               .dot
               .dot
               .dot
            .tutorial-welcome
            .tutorial-fannect-logo
            p.medium Congratulations on becoming a part of your team's committed fanbase!
            .tutorial-separator
            p Use Fannect to prove that your team has the best fans in the universe, and fight to become your team's #1 fan!
      .tutorial-item
         .tutorial-content
            .tutorial-close
            .tutorial-next
            .tutorial-prev
            .tutorial-pos-indicator
               .dot
               .dot.active
               .dot
               .dot
            .tutorial-welcome
            .tutorial-fannect-logo
            p.large The rules are simple
            .tutorial-separator
            ol
               li Create an awesome profile
               li Build each team's roster of fanatics
               li Score points for your team
               li Climb the Fannect leaderboard
      .tutorial-item
         .tutorial-content
            .tutorial-close
            .tutorial-next
            .tutorial-prev
            .tutorial-pos-indicator
               .dot
               .dot
               .dot.active
               .dot
            p.left Upload your profile picture here so other fans know who you are
            .tutorial-profile-sketch
            p.left Show your spirit by uploading a team photo or logo for your favorite team here
      .tutorial-item
         .tutorial-content
            .tutorial-close
            .tutorial-prev
            .tutorial-pos-indicator
               .dot
               .dot
               .dot
               .dot.active
            .tutorial-score-sketch
            p.left This bar indicates the number of fans on your roster, your point total, and your overall rank for your team
            .tutorial-headers
            p.left Amp up your profile by filling out these sections. Tell us about you, your gameday ritual, and why your team is #1

