extend layout

block header
   h1(data-menu-root="profile") Profile
   a.ui-btn-left(href="profile-invites.html", data-role="button", data-iconpos="notext", data-icon="custom", data-theme="b", data-shadow="false")
   a.ui-btn-right(href="settings.html", data-role="button", data-transition="slidedown", data-theme="b", data-iconpos="notext", data-icon="gear") Edit

   #changeProfileImagePopup(data-role="popup", style="width:260px;", class="ui-corner-all", data-overlay-theme="a", data-theme="a", data-bind="showPopup: showProfileImagePopup")
      .ui-corner-top(data-role="header", data-theme="b")
         h1 Change Profile Picture
      .ui-corner-bottom.ui-content(data-role="content", data-theme="a")
         a(data-role="button", data-bind="click: takeImage, visible: window.forge.is.mobile(), showClick: true") Take Picture
         a(data-role="button", data-bind="click: chooseImage, visible: window.forge.is.mobile(), showClick: true") Choose from Library
         a(data-role="button", data-bind="click: pullTwitterImage, showClick: true") Pull from Twitter
         a(data-role="button", data-theme="c", data-bind="click: cancelImagePicking, showClick: true") Cancel

   #changeTeamImagePopup(data-role="popup", style="width:260px;", class="ui-corner-all", data-overlay-theme="a", data-theme="a", data-bind="showPopup: showTeamImagePopup")
      .ui-corner-top(data-role="header", data-theme="b")
         h1 Change Team Picture
      .ui-corner-bottom.ui-content(data-role="content", data-theme="a")
         a(data-role="button", data-bind="click: takeImage, visible: window.forge.is.mobile(), showClick: true") Take Picture
         a(data-role="button", data-bind="click: chooseImage, visible: window.forge.is.mobile(), showClick: true") Choose from Library
         a(href="profile-chooseWebImage.html", data-role="button") Choose from Web
         a(data-role="button", data-theme="c", data-bind="click: cancelImagePicking, showClick: true") Cancel

block content
   .profile-images
      .team-wrap(data-bind="click: changeTeamImage, clickBubble: false")
         img(data-bind="teamSrc:team_image", width="188", height="188")
         .cover
      .user-wrap(data-bind="click: changeUserImage, clickBubble: false")
         img(data-bind="profileSrc:profile_image", width="140", height="140")
         .cover
      .verified-wrap(data-bind="fadeIn: verified", style="display:none;")
         .verified-badge
            .verified-icon(data-bind="setClass: verified")
            .verified-text(data-bind="text: window.fannect.verified(verified())")

   .name(data-bind="html: name")

   a.team-name-wrap(data-bind="click: selectTeam")
      .team(data-bind="text: team_name")
      .icon(data-bind="visible: isEditable()")

   .score-wrap
      .score.roster
         .label Roster
         .value(data-bind="text: roster")
      .score.points
         .label Points
         .value(data-bind="text: points")
      .score.rank
         .label Rank
         .value(data-bind="text: rank")

   .shout-separator(data-bind="visible: !isEditable()")

   .shout-button(data-bind="click: startShouting, visible: isEditable(), showClick: true")
   .shout-box
      .shout-quote-left
      .shout-quote-right
      .shout-text(data-bind="text: shout")
      .shout-date(data-bind="text: shout_date")
      
   .secondary-slider.swipe-slider(data-bind="swipe: sliderOptions()")
      .swipe-header
         .title
         .next
         .prev
      .swipe-wrap
         .swipe-content
            // ko if: isEditable()
            .swipe-item
               .next-game
                  .game-date(data-bind="text: next_game().game_date")
                  .team-wrap.home
                     .team-name(data-bind="text: next_game().home_team")
                  .team-wrap.away
                     .team-name(data-bind="text: next_game().away_team")
                  .stadium-name(data-bind="text: next_game().stadium_name")
                  .stadium-location(data-bind="text: next_game().stadium_location")
                  .time-and-coverage-wrap
                     .time-and-coverage(data-bind="text: next_game().time_and_coverage")
            // /ko
            .swipe-item
               .graph-wrapper
                  .breakdown(data-bind="chart: breakdown")
            .swipe-item
               .activity
                  .activity-list(data-bind="foreach: events.events")
                     .activity-item
                        .activity-icon(data-bind="setClass: type")
                        .points(data-bind="html: points_text, setClass: points_category")
                        .summary(data-bind="html: summary")
                        .date(data-bind="text: date_text")
                  .no-activity(data-bind="fadeIn: !events.has_more() && events.events().length == 0", style="display:none;") No activity here!
                  a.load-more(data-role="button", data-mini="true", data-bind="fadeIn: events.has_more() && !events.is_loading(), hideInstant: true, click: events.load, showClick: true", style="display:none;") Load More
                  .loading-more-indicator(data-bind="visible: events.is_loading")

   //- .fan-dna-separator

   //- .graph-wrapper
   //-    .breakdown(data-bind="chart: breakdown")

block tutorial
   .tutorial-slider.four
      .tutorial-item
         .tutorial-content
            .tutorial-next
            .tutorial-pos-indicator
               .dot.active
               .dot
               .dot
               .dot
            .tutorial-welcome
            .tutorial-fannect-logo
            p.medium Congratulations on becoming a part of your team's committed fanbase!
            .tutorial-separator
            p Use Fannect to prove that your team has the best fans in the universe, and fight to become your team's #1 fan!
      .tutorial-item
         .tutorial-content
            .tutorial-next
            .tutorial-prev
            .tutorial-pos-indicator
               .dot
               .dot.active
               .dot
               .dot
            .tutorial-welcome
            .tutorial-fannect-logo
            p.large The rules are simple
            .tutorial-separator
            ol
               li Create an awesome profile
               li Build each team's roster of fans
               li Score points for your team
               li Climb the Fannect leaderboard
      .tutorial-item
         .tutorial-content
            .tutorial-next
            .tutorial-prev
            .tutorial-pos-indicator
               .dot
               .dot
               .dot.active
               .dot
            p.left Upload your profile picture here so other fans know who you are
            .tutorial-profile-sketch
            p.left Show your spirit by uploading a team photo for your favorite team here
      .tutorial-item
         .tutorial-content
            .tutorial-close
            .tutorial-done
            .tutorial-prev
            .tutorial-pos-indicator
               .dot
               .dot
               .dot
               .dot.active
            .tutorial-score-sketch
            p.center This bar indicates your status!
            .tutorial-shout
            p.center Shout out to support your favorite team! You can also push to Twitter!
            .tutorial-fan-dna
            p.center See how your points breakdown to measure your Fan DNA... passion, dedication, and knowledge
