extend layout

block header
   h1(data-menu-root="profile") Profile
   a.ui-btn-left(href="profile-invites.html", data-role="button", data-iconpos="notext", data-icon="custom", data-theme="b", data-shadow="false")
   a.ui-btn-right(href="settings.html", data-role="button", data-transition="slidedown", data-theme="b", data-iconpos="notext", data-icon="gear") Edit

   #changeProfileImagePopup(data-role="popup", style="width:260px;", class="ui-corner-all", data-overlay-theme="a", data-theme="a", data-bind="showPopup: showProfileImagePopup")
      .ui-corner-top(data-role="header", data-theme="b")
         h1 Change Profile Picture
      .ui-corner-bottom.ui-content(data-role="content", data-theme="a")
         a(data-role="button", data-bind="click: takeImage, visible: window.forge.is.mobile(), showClick: true") Take Picture
         a(data-role="button", data-bind="click: chooseImage, visible: window.forge.is.mobile(), showClick: true") Choose from Library
         a(data-role="button", data-theme="c", data-bind="click: cancelImagePicking, showClick: true") Cancel

   #changeTeamImagePopup(data-role="popup", style="width:260px;", class="ui-corner-all", data-overlay-theme="a", data-theme="a", data-bind="showPopup: showTeamImagePopup")
      .ui-corner-top(data-role="header", data-theme="b")
         h1 Change Team Picture
      .ui-corner-bottom.ui-content(data-role="content", data-theme="a")
         a(data-role="button", data-bind="click: takeImage, visible: window.forge.is.mobile(), showClick: true") Take Picture
         a(data-role="button", data-bind="click: chooseImage, visible: window.forge.is.mobile(), showClick: true") Choose from Library
         a(href="profile-chooseWebImage.html", data-role="button") Choose from Web
         a(data-role="button", data-theme="c", data-bind="click: cancelImagePicking, showClick: true") Cancel

block content
   .profile-images
      .team-wrap(data-bind="click: changeTeamImage, clickBubble: false")
         img(data-bind="teamSrc:team_image", width="188", height="188")
         .cover
      .user-wrap(data-bind="click: changeUserImage, clickBubble: false")
         img(data-bind="profileSrc:profile_image", width="140", height="140")
         .cover

   .name(data-bind="html: name")

   a.team-name-wrap(data-bind="click: selectTeam")
      .team(data-bind="text: team_name")
      .icon(data-bind="visible: isEditable()")

   .score-wrap
      .score.roster
         .label Roster
         .value(data-bind="text: roster")
      .score.points
         .label Points
         .value(data-bind="text: points")
      .score.rank
         .label Rank
         .value(data-bind="text: rank")

   .shout-button(data-bind="css:{'active': shouting}, click: startShouting")
   .shout-box(data-bind="css:{'active': shouting}")
      .shout-quote-left
      .shout-quote-right
      .shout-text(data-bind="text: shout, fadeIn: !shouting()")
      textarea.shout-editable(data-bind="value: new_shout, valueUpdate: ['afterkeydown'], fadeIn: shouting, setFocusBlur: shouting")
   .shout-actions(data-bind="slideInOut: shouting")
      a(data-role="button", data-bind="click: submitShout, showClick: true") Shout It
      a(data-role="button", data-bind="click: stopShouting, showClick: true", data-theme="b", data-mini="true") Cancel

   .fan-dna-separator

   .graph-wrapper
      .breakdown(data-bind="chart: breakdown")
   .graph-base
      .highlight
      span.passion Passion
      span.dedication Dedication
      span.knowledge Knowledege

block tutorial
   .tutorial-slider.four
      .tutorial-item
         .tutorial-content
            .tutorial-next
            .tutorial-pos-indicator
               .dot.active
               .dot
               .dot
               .dot
            .tutorial-welcome
            .tutorial-fannect-logo
            p.medium Congratulations on becoming a part of your team's committed fanbase!
            .tutorial-separator
            p Use Fannect to prove that your team has the best fans in the universe, and fight to become your team's #1 fan!
      .tutorial-item
         .tutorial-content
            .tutorial-next
            .tutorial-prev
            .tutorial-pos-indicator
               .dot
               .dot.active
               .dot
               .dot
            .tutorial-welcome
            .tutorial-fannect-logo
            p.large The rules are simple
            .tutorial-separator
            ol
               li Create an awesome profile
               li Build each team's roster of fanatics
               li Score points for your team
               li Climb the Fannect leaderboard
      .tutorial-item
         .tutorial-content
            .tutorial-next
            .tutorial-prev
            .tutorial-pos-indicator
               .dot
               .dot
               .dot.active
               .dot
            p.left Upload your profile picture here so other fans know who you are
            .tutorial-profile-sketch
            p.left Show your spirit by uploading a team photo or logo for your favorite team here
      .tutorial-item
         .tutorial-content
            .tutorial-close
            .tutorial-done
            .tutorial-prev
            .tutorial-pos-indicator
               .dot
               .dot
               .dot
               .dot.active
            .tutorial-score-sketch
            p.left This bar indicates the number of fans on your roster, your point total, and your overall rank for your team
            .tutorial-headers
            p.left Amp up your profile by filling out these sections. Tell us about you, your gameday ritual, and why your team is #1

