extend layout

block header
   a(data-icon="back", data-rel="back", data-theme="b") Back
   h1 Reset Password
   
block content
   
   .input-container
      input(type="email", pattern="[^ @]*@[^ @]*", name="email", id="email", data-bind="value: email, onEnter: resetPassword", placeholder="email")    
      button(data-role="button", type="submit", data-bind="click: resetPassword, showClick: true") Reset Password
