extend layout

block header
   a(data-icon="back", data-rel="back", data-theme="b") Back
   h1 Reset Password
   
block content
   .fannect-logo

   form.input-container(data-bind="submit: resetPassword", data-ajax="false")
      //- label(for="email") Email
      input(type="email", pattern="[^ @]*@[^ @]*", name="email", id="email", data-bind="value: email", placeholder="email")    
      button(data-role="button", type="submit", data-bind="showClick: true") Reset Password

block footer