extend layout

block header
   a(href="profile.html", data-icon="back", data-rel="back", data-theme="b") Back
   h1 Settings
   
block content
   ul.selections(data-role="listview", data-inset="true")
      li
         .icon.settings.account
         a(href="settings-account.html", data-transition="slide") My Account
      
   ul.selections(data-role="listview", data-inset="true")   
      li
         .icon.settings.privacy
         a(href="settings-privacy.html", data-transition="slide") Privacy
      
