extend layout

block header
   a(href="profile.html", data-icon="back", data-rel="back", data-theme="b") Back
   h1(data-menu-root="profile") Settings
   
block content
   ul.selections(data-role="listview", data-inset="true")
      li
         .icon.settings.account
         a(href="settings-account.html", data-transition="slide") My Account
      li
         .icon.settings.account
         a(href="settings-removeProfiles.html", data-transition="slide") Remove Teams
      li
         .icon.settings.privacy
         a(href="settings-privacy.html", data-transition="slide") Privacy

   a(href="javascript:fannect.auth.logout()", data-role="button") Logout
      
