extend layout

block header
   h1(data-menu-root="current") Share
   a(data-icon="back", data-rel="back", data-theme="b") Back
   
block content
   .share-wrap
      .sub-title Recruit More Fans!
      .share-button.twitter(data-bind="showClick: true, click: shareViaTwitter")
      .share-button.email(data-bind="showClick: true, click: shareViaEmail")
      //- .share-button.sms(data-bind="showClick: true, click: shareViaSMS, visible: forge.is.ios()")
