extend ../layout

block header
   a(data-icon="back", data-rel="back", data-theme="b") Back
   h1 Reset Password

block content

   form.input-container(data-bind="submit: submitPassword", data-ajax="false")

      .explanation
         | Your password has been reset! Please enter a new password.

      input(type="password", name="password", id="password", data-bind="value: password", placeholder="password")
      input(type="password", name="confirmPassword", id="confirmPassword", data-bind="value: confirmPassword", placeholder="confirm")
      button(data-role="button", type="submit") Submit

block footer