extend ../layout

block header
   
block content

   form(data-bind="submit: submitPassword", data-ajax="false")
      label(for="password") New Password
      input(type="password", name="password", id="password", data-bind="value: password")
      
      label(for="confirmPassword") Confirm Password
      input(type="password", name="confirmPassword", id="confirmPassword", data-bind="value: confirmPassword")
    
      button(data-role="button", type="submit") Submit

block footer