extend ../layout

block header
   a(data-icon="back", data-rel="back", data-theme="b") Back
   h1 Reset Password

block content

   .input-container

      .explanation
         | Your password has been reset! Please enter a new password.

      input(type="password", name="password", id="password", data-bind="value: password", placeholder="password")
      input(type="password", name="confirmPassword", id="confirmPassword", data-bind="value: confirmPassword, onEnter: submitPassword", placeholder="confirm")
      a(data-role="button", type="submit", data-bind="click: submitPassword, showClick: true") Submit

block footer