body:after
   content: url(../images/icons/icons-gamecell.png) url(../images/Pattern_FabricKnit.png) url(../images/Pattern_FabricKnit_Dark.png) url(../images/games/photos/CorkBoardBackground.png)
   display:none

@media only screen and (-webkit-min-device-pixel-ratio: 1.5)
   body:after
      content: url(../images/icons/icons-gamecell@2x.png) url(../images/Pattern_FabricKnit@2x.png) url(../images/Pattern_FabricKnit_Dark@2x.png) url(../images/games/photos/CorkBoardBackground@2x.png)
      display:none