.verified-icon
   display:none
   background-image: url(../images/verified/Listview@2x.png) no-repeat
   background-size: 30px 25px
   width: 30px
   height: 25px

   &.player-basketball
   &.coach-basketball
      display:block
      background-position: 0 0 

   &.fannect-squad
      display:block
      background-position: -35px 0 

@media only screen and (-webkit-min-device-pixel-ratio: 1.5)
   .verified
      background-image: url(../images/verified/Listview@2x.png)
