extend ../../layout

block header
   h1(data-menu-root="connect") Friends
   a(href="connect.html", data-icon="back", data-rel="back", data-theme="b") Back
   a.ui-btn-right(href="connect-roster-facebookFriends.html", data-role="button", data-theme="b", data-transition="slide") Find

block content

   ul.dark-pattern-bg.checkbox(data-role="listview", data-theme="b", data-bind="foreach: friends, listviewUpdate: friends, visible: friends().length > 0").friends
      li(data-bind="css:{'selected':selected}")
         a(data-bind="click: $parent.selectUser, text:name")

   .loading-more-indicator(data-bind="visible: loading", style="display:none;")

   .failed-wrap(data-bind="fadeIn: failed", style="display:none;")
      .title Something went wrong!
      .sub-title Couldn't retrieve your friends from Facebook at this time!

   .no-results-wrap(data-bind="fadeIn: show_no_results", style="display:none;")
      .title No Friends Here!
      .sub-title You've already added all of your Facebook friends with Fannect to your Roster.