extend ../../layout

block header
   a(href="profile-selectTeam-chooseMethod.html", data-icon="back", data-rel="back", data-theme="b") Back
   h1(data-menu-root="profile") Select Team
   
block content
   input(type="search", data-bind="value: query, valueUpdate: ['afterkeydown'], onEnter: search")

   ul.dark-pattern-bg.has-search(data-role="listview", data-theme="b", data-filter-theme="b", data-bind="foreach: teams, listviewUpdate: teams")
      li
         a(data-bind="click: $parent.selectTeam, text: full_name, showListviewClick: true")
     