#connect-roster-facebookFriends-page
   .failed-wrap
      margin-top: 30px
      text-align: center
      .title
         font-weight: bold
         font-size: 1.5em
      .sub-title
         color: #ccc
         margin-top: 10px