@import "../lib/variables"
@import "../lib/mixins"

#connect-huddle-tagTeams-page
   .content
      padding-top: 0
      overflow-y:hidden

   .dark-pattern-bg.standard
      margin-top: 0
      margin-bottom: 5px

   .dark-pattern-bg.tagged
      margin-top: 0
      margin-bottom: 12px

   .dark-pattern-bg.searched
      margin-top: 8px
      .newly-added
         display:none

   .separator
      text-align: center
      margin: 8px 0
      color: #c1272d

   .ui-input-search
      margin-top: 0
