@import "../lib/variables"
@import "../lib/mixins"

#connect-huddle-tagTeams-page
   .dark-pattern-bg.standard
      margin-bottom: 0

   .dark-pattern-bg.tagged
      margin-top: 0
      margin-bottom: 0

   .dark-pattern-bg.searched
      margin-top: 0
      .newly-added
         display:none

   .dark-pattern-bg
      li
         height: 41px
         .ui-icon-arrow-r
            background: url(../images/connect/huddle/TeamCheckBox.png) no-repeat
            background-size: 71px 33px
            width: 33px
            height: 33px
            margin-top: -17px
         a
            padding-right: 55px
         &.selected
            .ui-icon-arrow-r
               background-position: -38px 0

@media only screen and (-webkit-min-device-pixel-ratio: 1.5)
   #connect-huddle-tagTeams-page
      .dark-pattern-bg
         li
            .ui-icon-arrow-r
               background-image: url(../images/connect/huddle/TeamCheckBox@2x.png)