@import "../lib/variables"
@import "../lib/mixins"

#connect-highlights-share-page
   
   .image-border
      margin-top: 0 !important

   .share-message
      text-align: center
      margin: 10px 0 -5px 0
      font-size: 1.2em
      color: #555
      text-shadow: 0 1px 1px #fff
      font-weight: normal

.photo-share-options
   border-bottom: 0 !important
   width: 213px
   height: 51px
   margin: 0 auto

   .photo-share-option
      background: url(../images/connect/PhotoShare.png)
      background-size: 107px 219px
      width: 51px
      height: 51px
      float: left
      margin: 0 10px
      &.ui-btn-active
         border: 0
      &.twitter
         background-position: 0 0
         &.ui-btn-active
            background-position: -56px 0
      // &.instagram
      //    background-position: 0 -56px
      //    &.ui-btn-active
      //       background-position: -56px -56px
      &.facebook
         background-position: 0 -112px
         &.ui-btn-active
            background-position: -56px -112px
      &.email
         background-position: 0 -168px
         &.ui-btn-active
            background-position: -56px -168px


@media only screen and (-webkit-min-device-pixel-ratio: 1.5)
   .photo-share-options
      .photo-share-option
         background-image: url(../images/connect/PhotoShare@2x.png)
//    #connect-highlights-page
//       .down-vote-button
//          background-image: url(../images/connect/highlights/BooButton@2x.png) !important
//       .up-vote-button
//          background-image: url(../images/connect/highlights/CheerButton@2x.png) !important
//       .comment-button
//          background-image: url(../images/connect/highlights/CommentButton@2x.png) !important
//       .share-button
//          background-image: url(../images/connect/highlights/ShareButton@2x.png) !important