extend ../../layout
   
block header
   h1(data-menu-root="connect") Fan Highlights
   a(href="connect.html", data-icon="back", data-rel="back", data-theme="b") Back
   //- a.ui-btn-right(href="connect-huddle-newTopic.html", data-role="button", data-theme="b", data-transition="slideup") New Topic

block content

   ul.pattern-bg(data-role="listview").highlights
      li.highlight(data-bind="with: highlight")
         .image-border
            .image-container
               img.highlight-image(data-bind="getWidestSrc: image_url")
            .caption(data-bind="text: caption")
            .owner-name(data-bind="text: owner_name")

         .share-message Share this photo via:
      
      li.photo-share-options
         .photo-share-option.twitter(data-bind="showClick: true, click: shareViaTwitter")
         .photo-share-option.facebook(data-bind="showClick: true, click: shareViaFacebook")
         //- .photo-share-option.instagram(data-bind="showClick: true, click: shareViaInstagram")
         .photo-share-option.email(data-bind="showClick: true, click: shareViaEmail")