extend ../../layout
   
block header
   h1(data-menu-root="connect") Upload
   a(href="connect.html", data-icon="back", data-rel="back", data-theme="b") Back
   
block content

   ul.game-list.pattern-bg(data-role="listview")
      li
         a(data-bind="showListviewClick: true, click: spiritWear")
            .icon-gamecell.spirit-wear
            .text
               .inner
                  span.game-name Spirit Wear
      li
         a(data-bind="showListviewClick: true, click: gamedayPics")
            .icon-gamecell.gameday-pics
            .text
               .inner
                  span.game-name Gameday Pics
      li
         a(data-bind="showListviewClick: true, click: photoChallenge")
            .icon-gamecell.photo-challenge
            .text
               .inner
                  span.game-name Photo Challenge
      li
         a(data-bind="showListviewClick: true, click: pictureWithPlayer")
            .icon-gamecell.picture-with-player
            .text
               .inner
                  span.game-name Picture with a Player